<%= form_tag sessions_path, :method => :post do %>
  <div class="container" id="login_box">
      <div class="tit_login">ユーザー ログイン</div>
      <dl>
        <dt>ユーザーID</dt>
        <dd>
          <%= text_field_tag :username %>
        </dd>
          <dt>パスワード</dt>
          <dd>
            <%= password_field_tag :password %>
          </dd>
        </dl>
      <input type="image" src="images/btn_login.png" />
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :style => 'color:red' %>
    <% end %>
<% end %>
<script>
$(function() {
  $("ul#menu").hide();
  $("div#backtop").hide();
});
</script>