<div id="toukeiGraphDialog" title="統計グラフ画面" style="display: none;">

  <div id="chart3" style="width:400px; height:300px;"></div>

  <br />
<!--   <div>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnCustomerRegist" href="#" />登録</a></div>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnCustomerClose" href="#" />閉じる</a></div>
  </div> -->
</div>
<script>
// $(function() {
//   $("#tanjoDt").datepicker();
// });

</script>
