<div id="toukeiGraphDialog" title="統計グラフ画面" style="#">

  <div id="chart3" style="width:400px; height:300px;"></div>

  <br />

  <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnEstimateBack" href="/toukeis" />戻る</a></div>

</div>
<script>
// $(function() {
//   $("#tanjoDt").datepicker();
// });

</script>
