<div id="toukeiGraphDialog" title="統計グラフ画面" style="#">
<!--
	<input type="hidden" id="outCnd" name="outCnd" value="#" />
  <input type="hidden" id="outUnt" name="outUnt" value="#" />
  <input type="hidden" id="sumUnt" name="sumUnt" value="#" />
  <input type="hidden" id="targetSpnFrom" name="targetSpnFrom" value="#" />
  <input type="hidden" id="targetSpnTo" name="targetSpnTo" value="#" />
 -->
 	<!-- <div id="chart_kingaku" style="width:700px; height:600px;"></div> -->
 	<div id="chart_kingaku"></div>

  <br />

  <!-- <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnEstimateBack" href="/toukeis" />戻る</a></div> -->
  <div class="btn_box">
    <a id="btnEstimateBack" href="/toukeis" class="btn_back2" /><img src="/images/btn_back2.png" alt="戻る" /></a>
  </div>

</div>
<script>
// $(function() {
//   $("#tanjoDt").datepicker();
// });

</script>
