<div id="toukeiGraphDialog" title="統計グラフ画面" style="#">
  <br />
  <br />
 	<div><b>金額</b></div>
 	<div id="chart_kingaku"></div>
  <br />
 	<div><b>台数</b></div>
 	<div id="chart_daisu"></div>
  <br />
  <div class="btn_box">
    <a id="btnEstimateBack" href="/toukeis" class="btn_back2" /><img src="/images/btn_back2.png" alt="戻る" /></a>
  </div>
</div>
<script>
</script>
