  <form id="toukeiSearchForm">
  <div>
    <table>
      <tr>
        <th style="width:80px;">対象期間</th>
        <td style="width:250px;">
          <input style="width:75px;" type="text" id="targetSpnFrom" name="targetSpnFrom" />&nbsp;〜
          <input style="width:75px;" type="text" id="targetSpnTo" name="targetSpnTo" />
        </td>
        <th style="width:80px;">顧客コード</br>(サジェストサンプル)</th>
        <td style="width:175px;">
          <input style="width:100px;" type="text" id="kokyakuId" name="kokyakuId" />
        </td>
      </tr>
      <tr>
        <th>集計単位</th>
        <td>
          <input type="radio" id="sumUnt" name="sumUnt" value="1" checked />制作担当別
          <input type="radio" id="sumUnt" name="sumUnt" value="2" />病院別
          <input type="radio" id="sumUnt" name="sumUnt" value="3" />製品別
          <br/>
          <input type="radio" id="sumUnt" name="sumUnt" value="4" />パーツ別
          <input type="radio" id="sumUnt" name="sumUnt" value="5" />見積製品項目別
        </td>
        <th>出力条件</th>
        <td>
          <input type="radio" id="outCond" name="outCond" value="1" checked />月別
          <input type="radio" id="outCond" name="outCond" value="2" />年度別
          <input type="radio" id="outCond" name="outCond" value="3" />総合計
        </td>
      </tr>
    </table>
    <div class="btn_submit">
      <div><a class="btn_search" id="btnToukeiSearch" href="#" tabindex="44" />検索</a></div>
      <div><a class="btn_clear" id="btnToukeiClear" href="#" tabindex="46" />条件クリア</a></div>
    </div>
  </div>
<!--
  </br clear="all">
  </br>
  <div style="">
    <div style="width: 250px; margin:0 auto;">
      <div style="margin:5px; float:left;"><a class="btn btn-mini" id="btnPrev" href="#" />前へ</a></div>
      <div style="margin:5px; float:left; width:100px; text-align:center;" id="outCondLabel"></div>
      <div style="margin:5px; float:left;"><a class="btn btn-mini" id="btnNext" href="#" />次へ</a></div>
      <input type="hidden" id="outCondYear" name="outCondYear" />
      <input type="hidden" id="outCondMonth" name="outCondMonth" />
    </div>
  </div>
-->
  </form>

<script>
$(function() {
  $("#targetSpnFrom").datepicker();
  $("#targetSpnTo").datepicker();
  // $("#kokyakuSearch").accordion({
  //   header: "h5",
  //   collapsible: true,
  //   animated: "bounceslide",
  //   active: 4
  // });
});
</script>
