<div id="toukeiSearch">
  <form id="toukeiSearchForm">
  <div>
    <table>
      <tr>
        <th style="width:80px;">対象期間</th>
        <td style="text-align:left;width:190px;">
          <input style="width:75px;" type="text" id="targetSpnFrom" name="targetSpnFrom" />&nbsp;〜
          <input style="width:75px;" type="text" id="targetSpnTo" name="targetSpnTo" />
        </td>
        <th style="width:80px;">顧客コード</br>(サジェストサンプル)</th>
        <td style="width:175px;">
          <input style="width:130px;" type="text" id="kokyakuId" name="kokyakuId" />
        </td>
          <th style="width:80px;"></th>
            <td style="width:150px;">
            </td>
      </tr>
      <tr>
        <th style="width:80px;">集計単位</th>
        <td style="text-align:left;" colspan="3">
          <input type="radio" id="sumUnt" name="sumUnt" value="1" checked />&nbsp;制作担当別
          <input type="radio" id="sumUnt" name="sumUnt" value="2" />&nbsp;病院別
          <input type="radio" id="sumUnt" name="sumUnt" value="3" />&nbsp;製品別
          <input type="radio" id="sumUnt" name="sumUnt" value="4" />&nbsp;パーツ別
          <input type="radio" id="sumUnt" name="sumUnt" value="5" />&nbsp;見積製品項目別
        </td>
      </tr>
      <tr>
        <th style="width:80px;">出力条件</th>
        <td style="text-align:left;" colspan="3">
          <input type="radio" id="outCond" name="outCond" value="1" checked />&nbsp;月別
          <input type="radio" id="outCond" name="outCond" value="2" />&nbsp;年度別
          <input type="radio" id="outCond" name="outCond" value="3" />&nbsp;総合計
        </td>
      </tr>
    </table>
    <div><a class="btn_search" id="btnToukeiSearch" href="#" />検索</a></div>
    <div><a class="btn_clear" id="btnToukeiClear" href="#" />条件クリア</a></div>
  </div>
  </br clear="all">
  </br>
  <div style="">
    <div style="width: 250px; margin:0 auto;">
      <div style="margin:5px; float:left;"><a class="btn btn-mini" id="btnPrev" href="#" />前へ</a></div>
      <div style="margin:5px; float:left; width:100px; text-align:center;" id="outCondLabel"></div>
      <div style="margin:5px; float:left;"><a class="btn btn-mini" id="btnNext" href="#" />次へ</a></div>
      <input type="hidden" id="outCondYear" name="outCondYear" />
      <input type="hidden" id="outCondMonth" name="outCondMonth" />
    </div>
    <div><a class="btn_graf" id="btnShowGraph" href="toukeis/graph" />グラフ表示</a></div>
  </div>
  </form>
</div>
<script>
$(function() {
  $("#targetSpnFrom").datepicker();
  $("#targetSpnTo").datepicker();
});

</script>
