@charset "UTF-8";

/* ------------------------------------------- CSS Information
 File Name:      reset.css
 Author:         Vintage (VINTAGE Productions & Consulting Inc.)
 Style Info:     ブラウザスタイルのリセットと基本設定（初期化スタイル）
----------------------------------------------------------- */

/* ---- Browser Default Initialization ---- */
html {
	overflow-y: scroll;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td	{
	margin: 0;	padding: 0;
}
address, caption, cite, code, dfn, em, strong, th, var	{
	font-style: normal;
}
table	{
	border-collapse: collapse;	border-spacing: 0;
}
caption, th	{
	text-align: left;
}
q:before ,q:after	{
	content: '';
}
object, embed	{
	vertical-align: top;
}
hr, legend	{
	display: none;
}
h1, h2, h3, h4, h5, h6	{
	font-size: 100%;
	font-weight: normal;
}
img, abbr, acronym, fieldset	{
	border: 0;
}
li	{
	list-style-type: none;
}
p, dd, blockquote	{
	text-align: justify;
	text-justify: inter-ideograph;
}

/* ---- Basic Style ---- */
/* ---- Font Style ---- */
body {
	font-family: verdana,"メイリオ",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	background: #d6d8db;
	color: #333;
	font-size: 75%;
	line-height: 150%;
	text-align: center;
}
html>/**/body {
	font-size: 12px;
}

* + html body {
	font-family: "メイリオ","Meiryo";
}

/* ---- A Style ---- */
a:link	{
	text-decoration: underline;
	color: #00F;
}

a:visited	{
	text-decoration: underline;
	color: #00F;
}

a:hover	{
	text-decoration: none;
	color: #00F;
}

a:active	{
	text-decoration: none;
	color: #00F;
}

