<div id="hokenShubetsuFormDialog" title="保険種別登録画面" style="display: none;">
  <form id="hokenShubetsuForm" style="width:600px;height:200px">
  <div>
    <table>
      <tr>
        <th style="width:100px;">保険種別名称</th>
        <td style="width:250px;">
          <input style="width:200px;" type="text" id="hokenShubetsuNm" name="hokenShubetsuNm" />
        </td>
      </tr>
      <tr>
        <th style="width:100px;">表示順</th>
        <td style="width:250px;">
          <input style="width:200px;" type="text" id="hyojiJun" name="hyojiJun" />
        </td>
      </tr>
    </table>
  </div>
  </form>
  <br />
</div>

<script>
$(function() {
  
});
</script>
