<div id="hokenShubetsuFormDialog" title="保険種別登録画面" class="Tourokuform cf" style="overflow:hidden;display: none;">
  <form id="hokenShubetsuForm">
  <div>
    <table>
      <tr>
        <th style="width:80px;">保険種別名称</th>
        <td style="width:175px;">
          <input style="width:130px;" type="text" id="hokenShubetsuNm" name="hokenShubetsuNm" />
        </td>
      </tr>
      <tr>
        <th style="width:80px;">表示順</th>
        <td style="width:175px;">
          <input style="width:130px;" type="text" id="hyojiJun" name="hyojiJun" />
        </td>
      </tr>
    </table>
  </div>
  </form>
  <br />
</div>

<script>
$(function() {
  $("#hokenShubetsuForm").validate({
        errorClass:'error',
        errorElement:'label',
        highlight: function (element, errorClass, validClass) { 
            $(element).addClass(errorClass); 
        }, 
        unhighlight: function (element, errorClass, validClass) { 
            $(element).removeClass(errorClass); 
        },
        rules: {
            hokenShubetsuNm: {required:true, maxlength:25},
            hyojiJun: {required:true, number:true, maxlength:3},
        }
    });
});
</script>
