<div id="hokenShubetsuSearch" style="width:1024px;">
  <form id="hokenShubetsuSearchForm">
  <div>
    <table style="width:100%">
      <tr>
        <th style="width:75px;">保険種別コード</th>
        <td style="width:150px;">
          <input style="width:50px;" type="text" id="hokenShubetsuCdFrom" name="hokenShubetsuCdFrom" />&nbsp;〜
          <input style="width:50px;" type="text" id="hokenShubetsuCdTo" name="hokenShubetsuCdTo" />
        </td>
        <th style="width:75px;">保険種別名</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="hokenShubetsuNm" name="hokenShubetsuNm" />
        </td>
      </tr>
    </table>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnHokenShubetsuSearch" href="#" />検索</a></div>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnHokenShubetsuClear" href="#" />条件クリア</a></div>
  </div>
  <div>
  </div>
  </form>
</div>
<script>
$(function() {

});
</script>
