<% content_for :title do %>
保険種別マスタ - Assort 座位保持装置選定支援・補装具管理ソリューション
<% end %>
<div class="title">保険種別管理：検索</div>
<div class="statuslabel"><span>条件設定</span>検索条件を指定してください。</div>
<div id="hokenShubetsuSearch" class="Searchform cf">
    <%= render 'search' %>
</div>
<div style="clear:both;" id="hokenShubetsu">
    <table id="searchHokenShubetsuGrid"></table>
    <div id="searchHokenShubetsuPager"></div>
</div>
<div class="btn_new">
    <a class="btn_new_mast" id="btnHokenShubetsuNew" href="#" />新規追加</a>
</div>
<%= render 'form' %>
<script>
// ##############################
// 
// ##############################
$(function() {
    
    var isLoaded = false;
    var colNames = ["保険種別コード","保険種別名", "表示順","更新者ID","登録者ID","",""];
    var colModelSettings = [
            {name:"hokenShubetsuCd", index:"hokenShubetsuCd", sortable:false},
            {name:"hokenShubetsuNm", index:"hokenShubetsuNm", sortable:false},
            {name:"hyojiJun", index:"hyojiJun", hidden:true, sortable:false},
            {name:"koshinshaId", index:"koshinshaId", editable:true, hidden:true, sortable:false},
            {name:"torokushaId", index:"torokushaId", editable:true, hidden:true, sortable:false},
            {name:'updateImg', index:'updateImg', align:'center', width:40, formatter: updateFormatter, sortable:false},
            {name:'deleteImg', index:'deleteImg', align:'center', width:40, formatter: deleteFormatter, sortable:false}
    ];
    $("#searchHokenShubetsuGrid").jqGrid({
        datatype: "local",
        width: "940",
        height: "240",
        cellEdit: false,
        rowNum: 10,
        pager: "searchHokenShubetsuPager",
        multiselect: false,
        colNames: colNames,
        colModel: colModelSettings,
        gridComplete: function(){
            if(!isLoaded == true){
                isLoaded = true;
            }
        },
    }).navGrid('#searchHokenShubetsuPager',{edit:false, add:false, del:false, search:false});
});

// ##############################
// 検索ボタンクリック処理
// ##############################
$("a#btnHokenShubetsuSearch").click(function() {
    searchHokenShubetsu();
    return false;
});

// ##############################
// クリアボタンクリック処理
// ##############################
$("a#btnHokenShubetsuClear").click(function() {
    $('#hokenShubetsuSearchForm input[type="text"]').val('');
    return false;
});

// ##############################
// 新規登録ボタンクリック処理
// ##############################
$("a#btnHokenShubetsuNew").click(function() {
    showHokenShubetsuFormDialog();
    return false;
});

// ##############################
// グリッド更新ボタンクリック処理
// ##############################
function updateFormatter(cellval, options, rowdata) {
    return "<img src='/images/database-reload-alt-1.png' onclick='showHokenShubetsuFormDialog(" + rowdata['hokenShubetsuCd'] + ")' title='更新' style='width:16px; height:16px'>";
}

// ##############################
// グリッド削除ボタンクリック処理
// ##############################
function deleteFormatter(cellval, options, rowdata) {
    return "<img src = '/images/database-remove-alt-1.png' onclick='removeHokenShubetsu(" + rowdata['hokenShubetsuCd'] + ")' title='削除' style='width:16px; height:16px'>";
}

// ##############################
// 検索用メソッド
// ##############################
function searchHokenShubetsu() {
    var data = {};
    var search = $("#hokenShubetsuSearchForm").serializeArray();
    $.each(search, function() {
        data[this.name] = this.value;
    });
    $("#searchHokenShubetsuGrid").clearGridData();
    var param = {
        datatype: "json",
        url: "hoken_shubetsus/search.json",
        postData: data,
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false
        }
    };
    $("#searchHokenShubetsuGrid").setGridParam(param).trigger("reloadGrid");
}

// ##############################
// 更新用メソッド
// param:
// hokenShubetsuCd : コード
// ##############################
function executeHokenShubetsu(hokenShubetsuCd) {
    var url;
    var type;
    var data = {};
    var postData = {};
    if(hokenShubetsuCd != null) {
        url = "hoken_shubetsus/" + hokenShubetsuCd + ".json";
        type = "POST";
        postData["_method"] = "put";
    } else {
        url = "hoken_shubetsus.json";
        type = "POST";
    }
    var hokenShubetsu = $("#hokenShubetsuForm").serializeArray();
    $.each(hokenShubetsu, function() {
        data[this.name] = this.value;
    });
    // 更新ユーザー、登録ユーザーを設定する
    data["koshinshaId"] = $("#loginId").val();
    data["torokushaId"] = $("#loginId").val();

    postData["hoken_shubetsu"] = data;
    postData["id"] = hokenShubetsuCd;
    $.ajax({
        scriptCharset:"UTF-8",
        type: type,
        url: url,
        data: postData,
        root: "hokenShubetsu",
        dataType: "json",
        success: function(result) {
            searchHokenShubetsu();
        }
    });
    $("#hokenShubetsuFormDialog").dialog("close");
    return false;
}

// ##############################
// 登録用フォームダイアログオープン
// param:
// hokenShubetsuCd : 保険種別コード
// ##############################
function showHokenShubetsuFormDialog(hokenShubetsuCd) {

    if(hokenShubetsuCd != null) {
        var url = "hoken_shubetsus/" + hokenShubetsuCd + ".json";
        $.ajax({
            scriptCharset:"UTF-8",
            type: "GET",
            url: url,
            dataType: "json",
            success: function(result) {
                if(result) {
                    $("#hokenShubetsuForm #hokenShubetsuNm").val(result["hokenShubetsuNm"]);
                    $("#hokenShubetsuForm #hyojiJun").val(result["hyojiJun"]);
                }
                return false;
            }
        });
    }
    // ダイアログ表示
    $("#hokenShubetsuFormDialog").dialog({
        show: {effect: "clip"},
        hide: {effect: "clip"},
        width: "auto",
        modal: true,
        buttons : {
            "Close":{
                text: "閉じる",
                id: "dialog_close",
                class : "btn_white",
                click : function(){
                    $('#hokenShubetsuForm input[type="text"], select, textarea').val('');
                    $("#hokenShubetsuForm").validate().resetForm();
                    $(this).dialog('close');
                    return false;
                }
            },
            "Regist":{
                text: "登録",
                id: "dialog_regist",
                class: "btn_orange",
                click: function() {
                    // クライアントバリデーション
                    if ($("#hokenShubetsuForm").valid() == false) {
                         return false;
                     }
                    executeHokenShubetsu(hokenShubetsuCd);
                    $('#hokenShubetsuForm input[type="text"], select, textarea').val('');
                    $(this).dialog('close');
                    return false;
                }
            },
        },
        open:function(event, ui){ $(".ui-dialog-titlebar-close").hide();}
    });
    $("#hokenShubetsuFormDialog").focus();
}

// ##############################
// 削除用メソッド
// param:
// hokenShubetsuCd : 保険種別コード
// ##############################
function removeHokenShubetsu(hokenShubetsuCd) {
    if (confirm("削除します。よろしいですか？") == false) {
        return false;
    }
    var url = "hoken_shubetsus/" + hokenShubetsuCd + ".json";
    var type = "POST";
    $.ajax({
        scriptCharset:"UTF-8",
        type: type,
        url: url,
        data: "id=" + hokenShubetsuCd + "&_method=delete",
        dataType: "json",
        success: function(result) {
            searchHokenShubetsu();
        }
    });
    return false;
}

</script>