<form id="userSearchForm">
<div>
  <table>
    <tr>
      <th style="width:80px;">社員コード</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="shainCd" name="shainCd" />
      </td>
      <th style="width:80px;">姓</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="myoji" name="myoji" />
      </td>
      <th style="width:80px;">名</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="name" name="name" />
      </td>
    </tr>
    <tr>
      <th style="width:80px;">姓（フリガナ）</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="myojiFuri" name="myojiFuri" />
      </td>
      <th style="width:80px;">名（フリガナ）</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="nameFuri" name="nameFuri" />
      </td>
    </tr>
  </table>
  <div class="btn_submit">
    <div><a class="btn_search"  id="btnUserSearch" href="#" />検索</a></div>
    <div><a class="btn_clear" id="btnUserClear" href="#" />条件クリア</a></div>
  </div>
</div>
</form>
