<div class="title">社員管理：新規社員登録</div>
<div class="statuslabel"><span>社員登録</span>コメント　無ければ削除</div>
<div id="userSearch" class="Tourokuform cf">
	<%= render 'form' %>
</div>
<div class="btn_box">
	<a id="btnUserReturn" href="#" class="btn_back2"><img src="/images/btn_back2.png" alt="戻る" /></a>
	<a id="btnUserRegist" href="#" class="btn_add2"><img src="/images/btn_add2.png" alt="登録" /></a>
</div>
<script>
$(function() {
	$("a#btnUserRegist").click(function() {
	    executeUser();
	    return false;
	});

	$("a#btnUserReturn").click(function() {
    	location.href = "/users";
	    return false;
	});
});

</script>