<div id="byoinFormDialog" title="病院登録画面" class="Tourokuform cf" style="overflow:hidden;display: none;">
  <form id="byoinForm">
  <div>
    <table>
      <tr>
        <th style="width:80px;">病院名称</th>
        <td style="width:175px;">
          <input style="width:130px;" type="text" id="byoinNm" name="byoinNm" />
        </td>
      </tr>
    </table>
  </div>
  </form>
</div>

<script>
$(function() {
  $("#byoinForm").validate({
        errorClass:'error',
        errorElement:'label',
        highlight: function (element, errorClass, validClass) { 
            $(element).addClass(errorClass); 
        }, 
        unhighlight: function (element, errorClass, validClass) { 
            $(element).removeClass(errorClass); 
        },
        rules: {
            byoinNm: {required:true, maxlength:25},
        }
    });
});
</script>
