<div id="byoinFormDialog" title="病院登録画面" style="display: none;">
  <form id="byoinForm">
  <div>
    <table>
      <tr>
        <th style="width:100px;">病院名称</th>
        <td style="width:250px;">
          <input style="width:200px;" type="text" id="byoinNm" name="byoinNm" />
        </td>
      </tr>
    </table>
  </div>
  </form>
  <br />
  <div>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnByoinRegist" href="#" />登録</a></div>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnByoinClose" href="#" />閉じる</a></div>
  </div>
</div>

<script>
$(function() {
  
});
</script>
