<div id="byoinFormDialog" title="病院登録画面" style="display: none;">
  <form id="byoinForm" style="width:600px;height:200px">
  <div>
    <br>
    <br>
    <table>
      <tr>
        <th style="width:100px;">病院名称</th>
        <td style="width:250px;">
          <input style="width:200px;" class="validate[required, maxSize[40]]" type="text" id="byoinNm" name="byoinNm" />
        </td>
      </tr>
    </table>
  </div>
  </form>
  <br />

</div>

<script>
$(function() {
  
});
</script>
