<div id="byoinSearch" style="width:1024px;">
  <form id="byoinSearchForm">
  <div>
    <table style="width:100%">
      <tr>
        <th style="width:75px;">病院名</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="byoinNm" name="byoinNm" />
        </td>
      </tr>
    </table>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnByoinSearch" href="#" />検索</a></div>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnByoinClear" href="#" />条件クリア</a></div>
  </div>
  <div>
  </div>
  </form>
</div>
<script>
$(function() {

});
</script>
