<div class="title">病院管理：検索</div>
<div class="statuslabel"><span>条件設定</span>検索条件を指定してください。</div>
<div id="byoinSearch" class="Searchform cf">
    <%= render 'search' %>
</div>
<div style="clear:both;" id="byoin">
    <table id="searchByoinGrid"></table>
    <div id="searchByoinPager"></div>
</div>
<div class="btn_new">
    <a class="btn_new_mast" id="btnByoinNew" href="#" />新規追加</a>
</div>
<%= render 'form' %>
<script>
// ##############################
// 
// ##############################
$(function() {
    
    var isLoaded = false;
    var colNames = ["病院コード","病院名","更新者ID","登録者ID","",""];
    var colModelSettings = [
            {name:"byoinCd", index:"byoinCd"},
            {name:"byoinNm", index:"byoinNm"},
            {name:"koshinshaId", index:"koshinshaId", hidden:true},
            {name:"torokushaId", index:"torokushaId", hidden:true},
            {name:'updateImg', index:'updateImg', align:'center', width:40, formatter: updateFormatter},
            {name:'deleteImg', index:'deleteImg', align:'center', width:40, formatter: deleteFormatter}
    ];
    $("#searchByoinGrid").jqGrid({
        datatype: "local",
        width: "940",
        height: "240",
        cellEdit: false,
        rowNum: 10,
        pager: "searchByoinPager",
        multiselect: false,
        colNames: colNames,
        colModel: colModelSettings,
        gridComplete: function(){
            if(!isLoaded == true){
                isLoaded = true;
            }
        },
    }).navGrid('#searchByoinPager',{edit:false, add:false, del:false, search:false});
});

// ##############################
// 検索ボタンクリック処理
// ##############################
$("a#btnByoinSearch").click(function() {
    searchByoin();
    return false;
});

// ##############################
// クリアボタンクリック処理
// ##############################
$("a#btnByoinClear").click(function() {
    $('#byoinSearchForm input[type="text"]').val('');
    return false;
});

// ##############################
// 新規登録ボタンクリック処理
// ##############################
$("a#btnByoinNew").click(function() {
    showByoinFormDialog();
    return false;
});

// ##############################
// グリッド更新ボタンクリック処理
// ##############################
function updateFormatter(cellval, options, rowdata) {
    return "<img src='/images/database-reload-alt-1.png' onclick='showByoinFormDialog(" + rowdata['byoinCd'] + ")' title='更新' style='width:16px; height:16px'>";
}

// ##############################
// グリッド削除ボタンクリック処理
// ##############################
function deleteFormatter(cellval, options, rowdata) {
    return "<img src = '/images/database-remove-alt-1.png' onclick='removeByoin(" + rowdata['byoinCd'] + ")' title='削除' style='width:16px; height:16px'>";
}

// ##############################
// 検索用メソッド
// ##############################
function searchByoin() {
    var data = {};
    var search = $("#byoinSearchForm").serializeArray();
    $.each(search, function() {
        data[this.name] = this.value;
    });
    $("#searchByoinGrid").clearGridData();
    var param = {
        datatype: "json",
        url: "byoins/search.json",
        postData: data,
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false
        }
    };
    $("#searchByoinGrid").setGridParam(param).trigger("reloadGrid");
}



// ##############################
// 更新用メソッド
// param:
// byoinCd : 病院コード
// ##############################
function executeByoin(byoinCd) {
    var url;
    var type;
    var data = {};
    var postData = {};
    if(byoinCd != null) {
        url = "byoins/" + byoinCd + ".json";
        type = "POST";
        postData["_method"] = "put";
    } else {
        url = "byoins.json";
        type = "POST";
    }
    var byoin = $("#byoinForm").serializeArray();
    $.each(byoin, function() {
        data[this.name] = this.value;
    });
    // 更新ユーザー、登録ユーザーを設定する
    data["koshinshaId"] = 1;
    data["torokushaId"] = 1;

    postData["byoin"] = data;
    postData["id"] = byoinCd;
    $.ajax({
        scriptCharset:"UTF-8",
        type: type,
        url: url,
        data: postData,
        root: "byoin",
        dataType: "json",
        success: function(result) {
            searchByoin();
        }
    });
    $("#byoinFormDialog").dialog("close");
    return false;
}

// ##############################
// 登録用フォームダイアログオープン
// param:
// byoinCd : 病院コード
// ##############################
function showByoinFormDialog(byoinCd) {

    if(byoinCd != null) {
        var url = "byoins/" + byoinCd + ".json";
        $.ajax({
            scriptCharset:"UTF-8",
            type: "GET",
            url: url,
            dataType: "json",
            success: function(result) {
                if(result) {
                    $("#byoinForm #byoinNm").val(result["byoinNm"]);
                }
                return false;
            }
        });
    }
    // ダイアログ表示
    $("#byoinFormDialog").dialog({
        show: {effect: "clip"},
        hide: {effect: "clip"},
        width: "auto",
        modal: true,
        buttons : {
            "閉じる": function(){
                $('#byoinForm input[type="text"], select, textarea').val('');
                $("#byoinForm").validate().resetForm();
                $(this).dialog('close');
                return false;
            },
            '登録' :function() {
                // クライアントバリデーション
                if ($("#byoinForm").valid() == false) {
                     return false;
                 }
                executeByoin(byoinCd);
                $('#byoinForm input[type="text"], select, textarea').val('');
                $(this).dialog('close');
            }
        },
        open:function(event, ui){ $(".ui-dialog-titlebar-close").hide();}
    });
    $(".ui-dialog-buttonset > button").addClass("btn").addClass("btn-primary");
    $("#byoinFormDialog").focus();
}

// ##############################
// 削除用メソッド
// param:
// byoinCd : 病院コード
// ##############################
function removeByoin(byoinCd) {
    if (confirm("削除します。よろしいですか？") == false) {
        return false;
    }
    var url = "byoins/" + byoinCd + ".json";
    var type = "POST";
    $.ajax({
        scriptCharset:"UTF-8",
        type: type,
        url: url,
        data: "id=" + byoinCd + "&_method=delete",
        dataType: "json",
        success: function(result) {
                searchByoin();
        }
    });
    return false;
}

</script>