  <form id="konyuRirekiSearchForm">
  <div>
    <table>
      <tr>
        <th style="width:80px;">顧客コード</th>
        <td style="width:175px;">
          <input style="width:50px;" type="text" id="kokyakuIdFrom" name="konyu_rireki[kokyakuIdFrom]" tabindex="2" />&nbsp;〜
          <input style="width:50px;" type="text" id="kokyakuIdTo" name="konyu_rireki[kokyakuIdTo]" tabindex="4" />
        </td>
        <th style="width:70px;">保険種別１</th>
        <td style="width:175px;">
          <input style="width:130px;" type="text" id="hokenShubetsuCd1" name="konyu_rireki[hokenShubetsuCd1]" tabindex="28" />
        </td>
        <th style="width:60px;">受注日</th>
        <td style="width:200px;">
          <input style="width:80px;" type="text" id="juchuDtFrom" name="konyu_rireki[juchuDtFrom]" tabindex="18" />&nbsp;〜
          <input style="width:80px;" type="text" id="juchuDtTo" name="konyu_rireki[juchuDtTo]" tabindex="26" />
        </td>
      </tr>
      <tr>
        <th>病院</th>
        <td>
          <input style="width:130px;" type="text" id="byoinCd" name="konyu_rireki[byoinCd]" tabindex="6" />
        </td>
        <th>保険種別２</th>
        <td>
          <input style="width:130px;" type="text" id="hokenShubetsuCd2" name="konyu_rireki[hokenShubetsuCd2]" tabindex="30" />
        </td>
        <th>仮合日</th>
        <td>
          <input style="width:80px;" type="text" id="kariAwaseDtFrom" name="konyu_rireki[kariAwaseDtFrom]" tabindex="18" />&nbsp;〜
          <input style="width:80px;" type="text" id="kariAwaseDtTo" name="konyu_rireki[kariAwaseDtTo]" tabindex="26" />
        </td>
      </tr>
      <tr>
        <th>顧客名</th>
        <td>
          <input style="width:130px;" type="text" id="kokyakuNm" name="konyu_rireki[kokyakuNm]" tabindex="6" />
        </td>
        <th>商品名</th>
        <td>
          <input style="width:130px;" type="text" id="shohinNm" name="konyu_rireki[shohinNm]" tabindex="30" />
        </td>
        <th>納品日</th>
        <td>
          <input style="width:80px;" type="text" id="nohinDtFrom" name="konyu_rireki[nohinDtFrom]" tabindex="18" />&nbsp;〜
          <input style="width:80px;" type="text" id="nohinDtTo" name="konyu_rireki[nohinDtTo]" tabindex="26" />
        </td>
      </tr>
      <tr>
        <th>顧客カナ</th>
        <td>
          <input style="width:130px;" type="text" id="kokyakuNmKana" name="konyu_rireki[kokyakuNmKana]" tabindex="8" />
        </td>
        <th>受付担当</th>
        <td>
          <input style="width:130px;" type="text" id="uketsukeSesakuTantoCd" name="konyu_rireki[uketsukeSesakuTantoCd]" tabindex="32" />
        </td>
        <th>交付日</th>
        <td>
          <input style="width:80px;" type="text" id="kofuDtFrom" name="konyu_rireki[kofuDtFrom]" tabindex="18" />&nbsp;〜
          <input style="width:80px;" type="text" id="kofuDtTo" name="konyu_rireki[kofuDtTo]" tabindex="26" />
        </td>
      </tr>
      <tr>
        <th>種別</th>
        <td>
          <%= select :konyu_rireki, :shubetsuKn, [["新規", "0"], ["修理", "1"]], :include_blank => true, :style => "width:30px;" %>
        </td>
        <th>仮合担当</th>
        <td>
          <input style="width:130px;" type="text" id="kariAwaseTantoCd" name="konyu_rireki[kariAwaseTantoCd]" tabindex="34" />
        </td>
        <th>入金日</th>
        <td>
          <input style="width:80px;" type="text" id="nyukinDtFrom" name="konyu_rireki[nyukinDtFrom]" tabindex="18" />&nbsp;〜
          <input style="width:80px;" type="text" id="nyukinDtTo" name="konyu_rireki[nyukinDtTo]" tabindex="26" />
        </td>
      </tr>

      <tr>
        <th>見積製品項目</th>
        <td>
          <input style="width:130px;" type="text" id="seihinCd" name="konyu_rireki[seihinCd]" tabindex="8" />
        </td>
        <th>納品担当</th>
        <td>
          <input style="width:130px;" type="text" id="nohinTantoCd" name="konyu_rireki[nohinTantoCd]" tabindex="32" />
        </td>
        <th>押印日</th>
        <td>
          <input style="width:80px;" type="text" id="oshiinDtFrom" name="konyu_rireki[oshiinDtFrom]" tabindex="18" />&nbsp;〜
          <input style="width:80px;" type="text" id="oshiinDtTo" name="konyu_rireki[oshiinDtTo]" tabindex="26" />
        </td>
      </tr>

      <tr>
        <th><br/></th>
        <td><br/></td>
        <th>見積担当</th>
        <td>
          <input style="width:130px;" type="text" id="mitsumoriTantoEigyoCd" name="konyu_rireki[mitsumoriTantoEigyoCd]" tabindex="32" />
        </td>
        <th>完了日</th>
        <td>
          <input style="width:80px;" type="text" id="kanryoDtFrom" name="konyu_rireki[kanryoDtFrom]" tabindex="18" />&nbsp;〜
          <input style="width:80px;" type="text" id="kanryoDtTo" name="konyu_rireki[kanryoDtTo]" tabindex="26" />
        </td>
      </tr>
      <tr>
        <th><br/></th>
        <td><br/></td>
        <th><br/></th>
        <td><br/></td>
        <th>見積日</th>
        <td>
          <input style="width:80px;" type="text" id="mitsumoriDtFrom" name="konyu_rireki[mitsumoriDtFrom]" tabindex="18" />&nbsp;〜
          <input style="width:80px;" type="text" id="mitsumoriDtTo" name="konyu_rireki[mitsumoriDtTo]" tabindex="26" />
        </td>
      </tr>

    </table>
    <div class="btn_submit">
      <div><a class="btn_search" id="btnKonyuRirekiSearch" href="#" tabindex="44" />検索</a></div>
      <div><a class="btn_clear" id="btnKonyuRirekiClear" href="#" tabindex="46" />条件クリア</a></div>
    </div>
  </div>
  <div>
  </div>
  </form>