<div class="title">購入履歴管理：購入履歴登録</div>
<div class="statuslabel"><span>購入履歴登録</span>顧客コード、 病院、 医師、 見積担当営業、 見積日、 種別、 見積製品項目、 保険種別1、 金額、 請求金額（負担額）は必須項目です。</div>
<div id="konyuRirekiSearch" class="Tourokuform cf">
	<%= render 'form' %>
</div>
<div class="btn_box">
	<a id="btnKonyuRirekiReturn" href="#" class="btn_back2" /><img src="/images/btn_back2.png" alt="戻る" /></a>
	<a id="btnKonyuRirekiRegist" href="#" class="btn_add2" /><img src="/images/btn_add2.png" alt="登録" /></a>
</div>
<script>
$(function() {
	$("a#btnKonyuRirekiRegist").click(function() {
	    executeKonyuRireki();
	    return false;
	});

	$("a#btnKonyuRirekiReturn").click(function() {
    	location.href = "/konyu_rirekis?reload=on";
	    return false;
	});
});

</script>