<div class="container" id="mainmenu_box">
  <div class="title_table">情報管理</div>
    <div class="mainmenu_inner cf">
      <ul>
        <li class="menulist01"><a href="/kokyakus">顧客管理</a></li>
        <li class="menulist02"><a href="/konyu_rirekis">購入履歴管理</a></li>
        <li class="menulist04"><a href="/toukeis">売上管理</a></li>
      </ul>
  </div>
  <div class="title_master">マスタ管理</div>
  <div class="mainmenu_inner cf">
    <ul>
      <li class="menulist05"><a href="/shobyos">病名・傷病名マスタ</a></li>
      <li class="menulist06"><a href="/hoken_shubetsus">保険種別マスタ</a></li>
      <li class="menulist07"><a href="/byoins">病院マスタ</a></li>
      <li class="menulist08"><a href="/shains">社員マスタ</a></li>
      <li class="menulist10"><a href="/seihins">製品マスタ</a></li>
      <li class="menulist11"><a href="/kansei_buhins">完成部品マスタ</a></li>
    </ul>
  </div>
</div>
