<div id="estimateForm" class="jqwizard">
    <div class="jqwizard_panel">
        <div class="jqwizard_content" id="order_type">
            <%= render 'step_1' %>
        </div>
    </div>
    <div class="jqwizard_buttons">
        <button type="button" class="jqwizard_previous"><img src="/images/btn_back.png" alt="戻る" /></button>
        <button type="button" class="jqwizard_next"><img src="/images/btn_next.png" alt="次へ"/></button>
    </div>
    <div class="jqwizard_navi cf">
        <ul id="jqwizard_list">
            <li id="step1"><a href="#order_type"><em>Step 1</em><span>座位保持装置の選択</span></a></li>
            <li id="step2"><a href="#"><em>Step 2</em><span>&nbsp;</span></a></li>
            <li id="step3"><a href="#"><em>Step 3</em><span>&nbsp;</span></a></li>
            <li id="step4"><a href="#"><em>Step 4</em><span>&nbsp;</span></a></li>
            <li id="step5"><a href="#"><em>Step 5</em><span>&nbsp;</span></a></li>
            <li id="step6"><a href="#"><em>Step 6</em><span>&nbsp;</span></a></li>
            <li id="step7"><a href="#"><em>Step 7</em><span>&nbsp;</span></a></li>
            <li id="step8"><a href="#"><em>Step 8</em><span>&nbsp;</span></a></li>
            <li id="step9"><a href="#"><em>Step 9</em><span>&nbsp;</span></a></li>
            <li id="step9"><a href="#"><em>Step 9</em><span>&nbsp;</span></a></li>
            <li id="step9"><a href="#"><em>Step 9</em><span>&nbsp;</span></a></li>
            <li id="step9"><a href="#"><em>Step 9</em><span>&nbsp;</span></a></li>
            <li id="step9"><a href="#"><em>Step 9</em><span>&nbsp;</span></a></li>
            <li id="step9"><a href="#"><em>Step 9</em><span>&nbsp;</span></a></li>
            <li id="step9"><a href="#"><em>Step 9</em><span>&nbsp;</span></a></li>
            <li id="step9"><a href="#"><em>Step 9</em><span>&nbsp;</span></a></li>
            <li id="step9"><a href="#"><em>Step 9</em><span>&nbsp;</span></a></li>
        </ul>
    </div>
</div>
    <div class="btn_box">
      <a id="btnEstimateBack" href="/mitsumoris" class="btn_back2" /><img src="/images/btn_back2_mitsumori.png" alt="戻る" /></a>
      <a id="btnEstimateRegist" href="#" class="btn_add2" /><img src="/images/btn_add2.png" alt="登録" /></a>
    </div>
</div>
<script>
  $(document).ready(function(){
      $("#estimateForm").wizard();
  });
</script>
