<table style="border-collapse: collapse;" cols="9"  width="918">

    <tr>
	<td height="1" width="16"></td>
	<td height="1" width="32"></td>
	<td height="1" width="314"></td>
	<td height="1" width="82"></td>
	<td height="1" width="40"></td>
	<td height="1" width="40"></td>
	<td height="1" width="40"></td>
	<td height="1" width="167"></td>
	<td height="1" width="168"></td>
    </tr>

    <tr>
	<td class="br1c1" colspan="9">メインフレーム材質の選定</td>
    </tr>

    <tr>
	<td class="br2c1"></td>
	<td class="br2c2">説明</td>
	<td class="br2c3" colspan="5">メインフレームの材質を選んでください</td>
	<td class="br2c8">注文書チェック項目</td>
	<td class="br2c9">写真</td>
    </tr>

    <tr>
	<td class="br3c1"><input type="radio" name="2">1</td>
	<td class="br3c2"></td>
	<td class="br3c3" colspan="5">アルミ</td>
	<td class="br3c8"></td>
	<td class="br3c9" rowspan="12"><img src="img/image008.jpg"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br4c2">説明</td>
	<td class="br3c3" colspan="5">メインフレームの材質がアルミです（塗装あり）</td>
	<td class="br4c8">フレーム　アルミ</td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br5c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c7"></td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br4c2">対象</td>
	<td class="br3c3" colspan="5">体重の目安23kg未満</td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br3c3" colspan="5">低緊張</td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br3c3" colspan="5">弛緩姓麻痺</td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br9c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c7"></td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br9c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c7"></td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br9c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c7"></td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br9c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c7"></td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br9c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c7"></td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br14c1"></td>
	<td class="br14c2"></td>
	<td class="br14c3"></td>
	<td class="br14c4"></td>
	<td class="br14c5"></td>
	<td class="br14c5"></td>
	<td class="br14c7"></td>
	<td class="br14c8"></td>
    </tr>

    <tr>
	<td class="br2c1"></td>
	<td class="br14c2"></td>
	<td class="br14c3"></td>
	<td class="br14c4"></td>
	<td class="br14c5"></td>
	<td class="br14c5"></td>
	<td class="br14c5"></td>
	<td class="br15c8"></td>
	<td class="br15c9"></td>
    </tr>

    <tr>
	<td class="br3c1"><input type="radio" name="2">2</td>
	<td class="br3c2"></td>
	<td class="br3c3" colspan="5">ステンレス</td>
	<td class="br3c8"></td>
	<td class="br3c9" rowspan="12"><img src="img/image010.jpg"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br4c2">説明</td>
	<td class="br3c3" colspan="5">メインフレームの材質がステンレスです（塗装なし）</td>
	<td class="br4c8">フレーム　ステンレス</td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br5c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c7"></td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br4c2">対象</td>
	<td class="br3c3" colspan="5">体重の目安23kg以上</td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br3c3" colspan="5">伸展の筋緊張が強い</td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br3c3" colspan="5">座位の状態でも動きが多い（不随意運動など）</td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br9c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c7"></td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br9c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c7"></td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br9c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c7"></td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br9c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c7"></td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br9c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c7"></td>
	<td class="br3c8"></td>
    </tr>

    <tr>
	<td class="br14c1"></td>
	<td class="br14c2"></td>
	<td class="br14c3"></td>
	<td class="br14c4"></td>
	<td class="br14c5"></td>
	<td class="br14c5"></td>
	<td class="br14c7"></td>
	<td class="br14c8"></td>
    </tr>

    <tr>
	<td class="br28c1"></td>
	<td class="br3c2"></td>
	<td class="br9c3"></td>
	<td class="br5c4"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br5c5"></td>
	<td class="br28c8"></td>
	<td class="br28c9"></td>
    </tr>

    <tr>
	<td class="br2c1"></td>
	<td class="br14c2"></td>
	<td class="br14c3"></td>
	<td class="br14c4"></td>
	<td class="br14c5"></td>
	<td class="br14c5"></td>
	<td class="br14c5"></td>
	<td class="br15c8"></td>
	<td class="br15c9"></td>
    </tr>

    <tr>
	<td class="br3c1"><input type="radio" name="2">3</td>
	<td class="br3c2"></td>
	<td class="br3c3" colspan="5">木製</td>
	<td class="br30c8"></td>
	<td class="br30c9" rowspan="12"><img src="img/image013.jpg"><img src="img/image014.jpg"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br4c2">説明</td>
	<td class="br3c3" colspan="5">木製座位保持装置のニューオルソチェア、ライトチェアを特注寸法にて製作します</td>
	<td class="br30c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br3c3" colspan="5">側弯に対してモールド型を自社で製作可能な場合は、フレームのみの支給も可能です</td>
	<td class="br30c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br4c2">対象</td>
	<td class="br33c3">テーブル・アームサポートを利用した手の支えがあれば座位が可能</td>
	<td class="br5c4"></td>
	<td class="br33c5"></td>
	<td class="br33c5"></td>
	<td class="br33c7"></td>
	<td class="br30c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br33c3">頭頚部のコントロールが困難</td>
	<td class="br5c4"></td>
	<td class="br33c5"></td>
	<td class="br33c5"></td>
	<td class="br33c7"></td>
	<td class="br30c8"></td>
    </tr>

    <tr>
	<td class="br4c1"></td>
	<td class="br3c2"></td>
	<td class="br3c3" colspan="5">側弯が無い</td>
	<td class="br30c8"></td>
    </tr>

    <tr>
	<td class="br36c1"></td>
	<td class="br36c2"></td>
	<td class="br36c3"></td>
	<td class="br36c4"></td>
	<td class="br33c5"></td>
	<td class="br33c5"></td>
	<td class="br33c7"></td>
	<td class="br30c8"></td>
    </tr>

    <tr>
	<td class="br36c1"></td>
	<td class="br36c2"></td>
	<td class="br36c3"></td>
	<td class="br36c4"></td>
	<td class="br33c5"></td>
	<td class="br33c5"></td>
	<td class="br33c7"></td>
	<td class="br30c8"></td>
    </tr>

    <tr>
	<td class="br36c1"></td>
	<td class="br36c2"></td>
	<td class="br36c3"></td>
	<td class="br36c4"></td>
	<td class="br33c5"></td>
	<td class="br33c5"></td>
	<td class="br33c7"></td>
	<td class="br30c8"></td>
    </tr>

    <tr>
	<td class="br36c1"></td>
	<td class="br36c2"></td>
	<td class="br36c3"></td>
	<td class="br36c4"></td>
	<td class="br33c5"></td>
	<td class="br33c5"></td>
	<td class="br33c7"></td>
	<td class="br30c8"></td>
    </tr>

    <tr>
	<td class="br36c1"></td>
	<td class="br36c2"></td>
	<td class="br36c3"></td>
	<td class="br36c4"></td>
	<td class="br33c5"></td>
	<td class="br33c5"></td>
	<td class="br33c7"></td>
	<td class="br30c8"></td>
    </tr>

    <tr>
	<td class="br41c1"></td>
	<td class="br41c2"></td>
	<td class="br41c3"></td>
	<td class="br41c4"></td>
	<td class="br41c5"></td>
	<td class="br41c5"></td>
	<td class="br41c7"></td>
	<td class="br41c8"></td>
    </tr>

</table>