<table style="border-collapse: collapse;" cols="9"  width="1041">

    <tr>
	<td height="1" width="16"></td>
	<td height="1" width="32"></td>
	<td height="1" width="430"></td>
	<td height="1" width="82"></td>
	<td height="1" width="40"></td>
	<td height="1" width="40"></td>
	<td height="1" width="40"></td>
	<td height="1" width="172"></td>
	<td height="1" width="172"></td>
    </tr>

    <tr>
	<td class="ar1c1" colspan="9">座位保持装置製作方法の選定</td>
    </tr>

    <tr>
	<td class="ar2c1"></td>
	<td class="ar2c2">説明</td>
	<td class="ar2c3" colspan="5">製作方法を選んでください</td>
	<td class="ar2c8">注文書チェック項目</td>
	<td class="ar2c8">写真</td>
    </tr>

    <tr>
	<td class="ar3c1"><input type="radio" name="1">1</td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">セミオーダ-</td>
	<td class="ar3c8"></td>
	<td class="ar3c9" rowspan="11"><img src="/images/items/image002.jpg"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar4c2">説明</td>
	<td class="ar3c3" colspan="5">完成用部品に登録されているメイン（ベース）フレームを使用します</td>
	<td class="ar4c8">無し</td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">支持部（バックサポート・シートなど）は、オーダーメイドで製作可能です</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">各フレームの仕様、サイズ寸法をご確認下さい</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">1、高さ調整付きベースフレーム</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">2、一般的な屋外用（学校用）ティルト式メインフレーム</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">3、リクライニング・ティルト式バギーフレーム</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">4、車椅子フレーム</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar11c3"></td>
	<td class="ar11c4"></td>
	<td class="ar11c5"></td>
	<td class="ar11c5"></td>
	<td class="ar11c7"></td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar11c3"></td>
	<td class="ar11c4"></td>
	<td class="ar11c5"></td>
	<td class="ar11c5"></td>
	<td class="ar11c7"></td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar13c1"></td>
	<td class="ar13c2"></td>
	<td class="ar13c3"></td>
	<td class="ar13c4"></td>
	<td class="ar13c5"></td>
	<td class="ar13c5"></td>
	<td class="ar13c7"></td>
	<td class="ar13c8"></td>
    </tr>

    <tr>
	<td class="ar2c1"></td>
	<td class="ar13c2"></td>
	<td class="ar13c3"></td>
	<td class="ar13c4"></td>
	<td class="ar13c5"></td>
	<td class="ar13c5"></td>
	<td class="ar13c5"></td>
	<td class="ar14c8"></td>
	<td class="ar14c8"></td>
    </tr>

    <tr>
	<td class="ar3c1"><input type="radio" name="1">2</td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">フルオーダー</td>
	<td class="ar3c8"></td>
	<td class="ar3c9" rowspan="11"><img src="/images/items/image004.jpg"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar4c2">説明</td>
	<td class="ar3c3" colspan="5">フレーム、支持部をフルオーダーで製作します</td>
	<td class="ar4c8">無し</td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">座位保持装置の材質、機構、各部の寸法の指定が可能です</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">材質は、アルミ、ステンレス、木製の三種類から選びます</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">木製の場合は、ニューオルソチェア、ライトチェアを特注寸法にて製作します</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar11c3"></td>
	<td class="ar11c4"></td>
	<td class="ar11c5"></td>
	<td class="ar11c5"></td>
	<td class="ar11c7"></td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar21c3"></td>
	<td class="ar11c4"></td>
	<td class="ar11c5"></td>
	<td class="ar11c5"></td>
	<td class="ar11c7"></td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar21c3"></td>
	<td class="ar11c4"></td>
	<td class="ar11c5"></td>
	<td class="ar11c5"></td>
	<td class="ar11c7"></td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar11c3"></td>
	<td class="ar11c4"></td>
	<td class="ar11c5"></td>
	<td class="ar11c5"></td>
	<td class="ar11c7"></td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar11c3"></td>
	<td class="ar11c4"></td>
	<td class="ar11c5"></td>
	<td class="ar11c5"></td>
	<td class="ar11c7"></td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar13c1"></td>
	<td class="ar13c2"></td>
	<td class="ar13c3"></td>
	<td class="ar13c4"></td>
	<td class="ar13c5"></td>
	<td class="ar13c5"></td>
	<td class="ar13c7"></td>
	<td class="ar13c8"></td>
    </tr>

    <tr>
	<td class="ar2c1"></td>
	<td class="ar13c2"></td>
	<td class="ar13c3"></td>
	<td class="ar13c4"></td>
	<td class="ar13c5"></td>
	<td class="ar13c5"></td>
	<td class="ar13c5"></td>
	<td class="ar14c8"></td>
	<td class="ar14c8"></td>
    </tr>

    <tr>
	<td class="ar3c1"><input type="radio" name="1">3</td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">規格品タイプ</td>
	<td class="ar4c8">無し</td>
	<td class="ar27c9" rowspan="18"><img src="/images/items/image006.gif"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar4c2">説明</td>
	<td class="ar3c3" colspan="5">屋内用の規格品で、用途や状態に合わせてお選び頂けます</td>
	<td class="ar4c8">専用発注書有り</td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">
	　機能の充実や製品の剛性を必要とする場合は、セミオーダー、フルオーダーの金属タイプが適しています</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">　姿勢が左右対称で、緊張の高まりが少ない方を対象にした製品です</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">1、木製座位保持装置</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">　　木製の規格品、モジュラータイプの座位保持装置です</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">　&nbsp;&nbsp;各製品の仕様、サイズ寸法をご確認下さい</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">
	&nbsp;&nbsp;&nbsp;&nbsp;フレーム特注寸法対応の製品もあります</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">
	&nbsp;&nbsp;&nbsp;&nbsp;フレームのみ支給可の製品もあります</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">2、トイレットチェア</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">　　排泄用座位保持装置です。</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">　　洋式便座に設置する便座タイプも有ります</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">　&nbsp;&nbsp;各製品の仕様、サイズ寸法をご確認下さい</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">　　フレームについては、特注寸法での製作も可能です。</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">3、シャワーチェア</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">　　入浴用座位保持装置です</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar4c1"></td>
	<td class="ar3c2"></td>
	<td class="ar3c3" colspan="5">　&nbsp;&nbsp;各製品の仕様、サイズ寸法をご確認下さい</td>
	<td class="ar3c8"></td>
    </tr>

    <tr>
	<td class="ar13c1"></td>
	<td class="ar13c2"></td>
	<td class="ar2c3" colspan="5">　　フレームについては、特注寸法での製作も可能です。</td>
	<td class="ar13c8"></td>
    </tr>

</table>

