<div>
	<legend>使用環境をお選びください</legend>
	<div>
		<div style="padding:10px;">
			<input style="" name="" type="radio" value="none" checked="checked" />
			 	<span style="padding:5px;">屋内　キャスター無し</span>
		</div>
		<div style="padding:10px;">
			<div>
				<input name="" type="radio" value="" />
			 	<span style="padding:5px;">屋内　家庭用</span>
			 	<ul style="padding-left:50px;">
					<li>屋内用キャスター</li>
					<li>４輪　ロック付き</li>
					<li>４輪　旋回可能</li>
					<li>直進性が悪いです</li>
					<li>その場での旋回（方向転換）が可能</li>
				</ul>
			</div>
			<div style="padding-left:100px;">
				<table border="1">
					<tbody>
						<tr>
							<th>&nbsp;</th>
							<th>数量</th>
							<th>単価</th>
							<th>金額</th>
						</tr>
						<tr>
							<td>キャスター</td>
							<td>4</td>
							<td>1,400</td>
							<td>5,600</td>
						</tr>
						<tr>
							<td>多機能キャスター</td>
							<td>4</td>
							<td>850</td>
							<td>3,400</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div style="padding:10px;">
			<div>
				<input name="" type="radio" value="" />
			 	<span style="padding:5px;">屋内　家庭用</span>
			 	<ul style="padding-left:50px;">
					<li>屋内用キャスター</li>
					<li>前輪　旋回可能　ロック無し</li>
					<li>後輪　旋回固定　ロック付き</li>
					<li>直進性が良い</li>
				</ul>
			</div>
			<div style="padding-left:100px;">
				<table border="1">
					<tbody>
						<tr>
							<th>&nbsp;</th>
							<th>数量</th>
							<th>単価</th>
							<th>金額</th>
						</tr>
						<tr>
							<td>キャスター</td>
							<td>4</td>
							<td>1,400</td>
							<td>5,600</td>
						</tr>
						<tr>
							<td>多機能キャスター</td>
							<td>4</td>
							<td>850</td>
							<td>3,400</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div style="padding:10px;">
			<div>
				<input name="" type="radio" value="" />
			 	<span style="padding:5px;">屋内　施設用、学校用</span>
			 	<ul style="padding-left:50px;">
					<li>前輪　ソリッドワイドキャスター</li>
					<li>後輪　12インチ</li>
					<li>フット・キャリパーブレーキ付き</li>
				</ul>
			</div>
			<div style="padding-left:100px;">
				<table border="1">
					<tbody>
						<tr>
							<th>&nbsp;</th>
							<th>数量</th>
							<th>単価</th>
							<th>金額</th>
						</tr>
						<tr>
							<td>タイヤ</td>
							<td>2</td>
							<td>4,270</td>
							<td>8,540</td>
						</tr>
						<tr>
							<td>チューブ</td>
							<td>2</td>
							<td>2,450</td>
							<td>4,900</td>
						</tr>
						<tr>
							<td>リーム</td>
							<td>2</td>
							<td>5,500</td>
							<td>11,000</td>
						</tr>
						<tr>
							<td>キャスター（小）</td>
							<td>2</td>
							<td>5,800</td>
							<td>11.600</td>
						</tr>
						<tr>
							<td>キャリパーブレーキ</td>
							<td>2</td>
							<td>8,000</td>
							<td>16,000</td>
						</tr>
						<tr>
							<td>フットブレーキ</td>
							<td>2</td>
							<td>6,000</td>
							<td>12,000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div>
		<div style="padding:10px;">
			<div>
				<input name="" type="radio" value="" />
			 	<span style="padding:5px;">屋内外用</span>
			 	<ul style="padding-left:50px;">
					<li>4輪　ソリッドキャスター</li>
					<li>ブレーキ付き</li>
				</ul>
			</div>
			<div style="padding-left:100px;">
				<table border="1">
					<tbody>
						<tr>
							<th>&nbsp;</th>
							<th>数量</th>
							<th>単価</th>
							<th>金額</th>
						</tr>
						<tr>
							<td>キャスター（小）</td>
							<td>2</td>
							<td>5,800</td>
							<td>11.600</td>
						</tr>
						<tr>
							<td>フットブレーキ</td>
							<td>2</td>
							<td>6,000</td>
							<td>12,000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div style="padding:10px;">
			<div>
				<input name="" type="checkbox" value="" />
			 	<span style="padding:5px;">トイレ</span>
			</div>
		</div>
		<div style="padding:10px;">
			<div>
				<input name="" type="checkbox" value="" />
			 	<span style="padding:5px;">浴室</span>
			</div>
		</div>
	</div>
</div>