<table style="border-collapse: collapse;" cols="10"  width="1657">

    <tr>
	<td height="1" width="16"></td>
	<td height="1" width="53"></td>
	<td height="1" width="454"></td>
	<td height="1" width="45"></td>
	<td height="1" width="46"></td>
	<td height="1" width="46"></td>
	<td height="1" width="70"></td>
	<td height="1" width="292"></td>
	<td height="1" width="149"></td>
	<td height="1" width="468"></td>
    </tr>

    <tr>
	<td class="er1c1" colspan="10">構造フレーム</td>
    </tr>

    <tr>
	<td class="er2c1"></td>
	<td class="er2c2">説明</td>
	<td class="er2c3" colspan="8">完成用部品に登録されているメイン（ベース）フレームを使用します</td>
    </tr>

    <tr>
	<td class="er3c1"></td>
	<td class="er3c2"></td>
	<td class="er3c3" colspan="5">メインフレームを選んでください</td>
	<td class="er3c8">注文書チェック項目</td>
	<td class="er3c9">写真</td>
	<td class="er3c10">注文書　数値入力項目　と　注意点</td>
    </tr>

    <tr>
	<td class="er4c1"><input type="radio" name="5-1">1</td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">
	Panda　High-Lowﾌﾚｰﾑ&nbsp;R82A/S&nbsp;89505</td>
	<td class="er4c8"></td>
	<td class="er4c9" rowspan="22"><img src="img/image032.jpg"></td>
	<td class="er4c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">　屋内用　昇降ベースフレーム　子供用（テクノグリーン株式会社）</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er2c2">説明</td>
	<td class="er4c3" colspan="5">生活環境に合わせて、ベースフレームを無段階に約40cm昇降できます</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">床上とテーブルのように、高さを使い分けて使用する場合に有効です</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">仕様、寸法をご確認下さい</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er10c3" colspan="5">
	全長690mm&nbsp;全幅580mm&nbsp;座面高さ170nm〜600mm</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">オーダー椅子部の支持部フレームはステンレス製になります</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er2c2">主な機能</td>
	<td class="er4c3" colspan="5">昇降機構（無段階）（ロック付き）</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">ティルト機構（無段階）（ロック付き）</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er2c2">見積</td>
	<td class="er24c3">内訳</td>
	<td class="er24c4">数量</td>
	<td class="er24c5">単価</td>
	<td class="er24c5">金額</td>
	<td class="er6c7"></td>
	<td class="er24c8">
	完成用部品　有　Panda　High-Lowﾌﾚｰﾑ&nbsp;R82A/S&nbsp;89505</td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er25c1"></td>
	<td class="er3c2"></td>
	<td class="er25c3">完成用部品　構造ﾌﾚｰﾑ　&nbsp;屋内用　R82A/S&nbsp;89505</td>
	<td class="er25c4">個数　1</td>
	<td class="er25c5">113700</td>
	<td class="er25c5">113700</td>
	<td class="er25c7"></td>
	<td class="er25c8"></td>
	<td class="er25c10"></td>
    </tr>

    <tr>
	<td class="er3c1"></td>
	<td class="er3c2"></td>
	<td class="er26c3"></td>
	<td class="er26c4"></td>
	<td class="er26c5"></td>
	<td class="er26c5"></td>
	<td class="er26c7"></td>
	<td class="er26c8"></td>
	<td class="er26c9"></td>
	<td class="er26c10"></td>
    </tr>

    <tr>
	<td class="er4c1"><input type="radio" name="5-1">2</td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">きさく　PW-2　</td>
	<td class="er4c8"></td>
	<td class="er4c9" rowspan="22"><img src="img/image034.jpg"></td>
	<td class="er27c10">見積に重複がおこるので、いずれかが選択された場合、</td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">　屋外用　ベースフレーム（通称　工房バギー）（株式会社きさく工房）</td>
	<td class="er4c8"></td>
	<td class="er28c10">見積の支持部の連結、構造フレーム、調整機構　高さ調節　足部とアーム</td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er2c2">説明</td>
	<td class="er4c3" colspan="5">屋外、施設、学校用として、使用されている座位保持装置用ベースフレームです</td>
	<td class="er4c8"></td>
	<td class="er28c10">前後調節　骨盤と足部　開閉機構　アーム　は選択不可にしてください。</td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er31c3">仕様、サイズ寸法をご確認下さい</td>
	<td class="er31c4" colspan="4">PDFデータ添付</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er2c2">主な機能</td>
	<td class="er4c3" colspan="5">ティルト機構（無段階）</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">アーム跳ね上げ</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er35c2"></td>
	<td class="er4c3" colspan="5">高さ調整付き介助用グリップ</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">フットブレーキ</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er2c2">見積</td>
	<td class="er24c3">内訳</td>
	<td class="er24c4">数量</td>
	<td class="er24c5">単価</td>
	<td class="er24c5">金額</td>
	<td class="er6c7"></td>
	<td class="er24c8">完成用部品　有　きさく　PW-2</td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-2">
	完成用部品　構造ﾌﾚｰﾑ&nbsp;屋外用&nbsp;きさく&nbsp;PW2-LL</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">101600</td>
	<td class="er45c5">101600</td>
	<td class="er45c7"></td>
	<td class="er45c8"><input type="radio" name="5-4">　S<input type="radio" name="5-4">　M<input type="radio" name="5-4">　L<input type="radio" name="5-4">　LL　（のいずれか選択）</td>
	<td class="er45c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-2">
	完成用部品　構造ﾌﾚｰﾑ&nbsp;屋外用&nbsp;きさく&nbsp;PW2-L</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">100400</td>
	<td class="er45c5">100400</td>
	<td class="er45c7"></td>
	<td class="er46c8"></td>
	<td class="er45c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-2">
	完成用部品　構造ﾌﾚｰﾑ&nbsp;屋外用&nbsp;きさく&nbsp;PW2-M</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">99200</td>
	<td class="er45c5">99200</td>
	<td class="er45c7"></td>
	<td class="er46c8"></td>
	<td class="er45c10"></td>
    </tr>

    <tr>
	<td class="er25c1"></td>
	<td class="er3c2"></td>
	<td class="er48c3"><input type="radio" neme="5-2">
	完成用部品　構造ﾌﾚｰﾑ&nbsp;屋外用&nbsp;きさく&nbsp;PW2-S</td>
	<td class="er48c4">個数　1</td>
	<td class="er48c5">95600</td>
	<td class="er48c5">95600</td>
	<td class="er48c7"></td>
	<td class="er48c8"></td>
	<td class="er48c10"></td>
    </tr>

    <tr>
	<td class="er3c1"></td>
	<td class="er3c2"></td>
	<td class="er26c3"></td>
	<td class="er26c4"></td>
	<td class="er26c5"></td>
	<td class="er26c5"></td>
	<td class="er26c7"></td>
	<td class="er26c8"></td>
	<td class="er26c9"></td>
	<td class="er26c10"></td>
    </tr>

    <tr>
	<td class="er4c1"><input type="radio" neme="5-1">3</td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">有薗AR-06FR26-01</td>
	<td class="er4c8"></td>
	<td class="er50c9" rowspan="18"><img src="img/image036.jpg"></td>
	<td class="er50c10">
	<font class="efont1">選択された場合、注文書　その他欄に表示</font><font class="efont2">サイズを反映してください</font></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">　リクライニング・ティルト式　バギーtypeフレーム　（株式会社有薗製作所）</td>
	<td class="er4c8"></td>
	<td class="er51c10">
	<font class="efont1">見積書　完成用部品欄に表示。</font><font class="efont2">サイズを反映してください</font></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er2c2">説明</td>
	<td class="er4c3" colspan="5">屋外用の座位保持装置です</td>
	<td class="er4c8"></td>
	<td class="er51c10">重複するので、いずれかが選択された場合、</td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">
	リクライニング・ティルト機構（無段階）が装備されており、臥位に近い姿勢に変換できます</td>
	<td class="er4c8"></td>
	<td class="er51c10">フローの使用場所・フレーム・機構・グリップ・アームサポート</td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">オムツ替えに利用可能です</td>
	<td class="er4c8"></td>
	<td class="er54c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er31c3">仕様、サイズ寸法をご確認下さい</td>
	<td class="er31c4" colspan="4">PDFデータ添付</td>
	<td class="er4c8"></td>
	<td class="er51c10">アームパッド・レッグ・フットは、選択不可にしてください。</td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er2c2">機能</td>
	<td class="er4c3" colspan="5">リクライニング・ティルト機構（無段階）</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">張り調整式バックサポート・ヘッドサポート</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">張り調整式シート（座）</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">レッグサポート　エレベーティング機構</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">フットブレーキ</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">折りたたみ</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">転倒防止装置</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er2c2">見積</td>
	<td class="er24c3">内訳</td>
	<td class="er24c4">数量</td>
	<td class="er24c5">単価</td>
	<td class="er24c5">金額</td>
	<td class="er6c7"></td>
	<td class="er24c8">完成用部品　有　有薗AR-06FR26-01</td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er25c1"></td>
	<td class="er3c2"></td>
	<td class="er25c3">完成用部品　構造ﾌﾚｰﾑ　&nbsp;屋外用　有薗AR-06FR26-01</td>
	<td class="er25c4">個数　1</td>
	<td class="er25c5">136900</td>
	<td class="er25c5">136900</td>
	<td class="er25c7"></td>
	<td class="er25c8"></td>
	<td class="er25c10"></td>
    </tr>

    <tr>
	<td class="er3c1"></td>
	<td class="er3c2"></td>
	<td class="er26c3"></td>
	<td class="er26c4"></td>
	<td class="er26c5"></td>
	<td class="er26c5"></td>
	<td class="er26c7"></td>
	<td class="er26c8"></td>
	<td class="er26c9"></td>
	<td class="er26c10"></td>
    </tr>

    <tr>
	<td class="er4c1"><input type="radio" neme="5-1">4</td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">車椅子フレーム</td>
	<td class="er4c8"></td>
	<td class="er69c9" rowspan="17"></td>
	<td class="er69c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er2c2">説明</td>
	<td class="er4c3" colspan="5">座位保持装置のメインフレームに車椅子フレームを使用します</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er4c3" colspan="5">車椅子の機能に、座位保持装置の機能を持たせることが可能です</td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er6c3"></td>
	<td class="er6c4"></td>
	<td class="er6c5"></td>
	<td class="er6c5"></td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er2c2">見積</td>
	<td class="er24c3">内訳</td>
	<td class="er24c4">数量</td>
	<td class="er24c5">単価</td>
	<td class="er24c5">金額</td>
	<td class="er6c7"></td>
	<td class="er4c8"></td>
	<td class="er5c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-3">普通型</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">100000</td>
	<td class="er45c5">100000</td>
	<td class="er45c7"></td>
	<td class="er45c8">普通型</td>
	<td class="er28c10">いずれか選択された場合、注文書　その他欄に表示</td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-3">リクライニング式普通型</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">120000</td>
	<td class="er45c5">120000</td>
	<td class="er45c7"></td>
	<td class="er45c8">リクライニング式普通型</td>
	<td class="er28c10">見積書　完成用部品欄に表示。</td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-3">ティルト式普通型</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">148000</td>
	<td class="er45c5">148000</td>
	<td class="er45c7"></td>
	<td class="er45c8">ティルト式普通型</td>
	<td class="er45c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-3">ﾘｸﾗｲﾆﾝｸﾞ・ﾃｨﾙﾄ式普通型</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">173000</td>
	<td class="er45c5">173000</td>
	<td class="er45c7"></td>
	<td class="er45c8">ﾘｸﾗｲﾆﾝｸﾞ・ﾃｨﾙﾄ式普通型</td>
	<td class="er28c10">重複するので、いずれかが選択された場合、</td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-3">片手駆動型</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">117000</td>
	<td class="er45c5">117000</td>
	<td class="er45c7"></td>
	<td class="er45c8">片手駆動型</td>
	<td class="er28c10">フローの使用場所・フレーム・機構・グリップ・アームサポート</td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-3">リクライニング式片手駆動型</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">133600</td>
	<td class="er45c5">133600</td>
	<td class="er45c7"></td>
	<td class="er45c8">リクライニング式片手駆動型</td>
	<td class="er28c10">アームパッド・レッグ・フットは、選択不可にしてください。</td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-3">レバー駆動型</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">160500</td>
	<td class="er45c5">160500</td>
	<td class="er45c7"></td>
	<td class="er45c8">レバー駆動型</td>
	<td class="er45c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-3">手押し型　A</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">82700</td>
	<td class="er45c5">82700</td>
	<td class="er45c7"></td>
	<td class="er45c8">手押し型　A</td>
	<td class="er45c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-3">手押し型　B</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">81000</td>
	<td class="er45c5">81000</td>
	<td class="er45c7"></td>
	<td class="er45c8">手押し型　B</td>
	<td class="er45c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-3">リクライニング式手押し型</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">114000</td>
	<td class="er45c5">114000</td>
	<td class="er45c7"></td>
	<td class="er45c8">リクライニング式手押し型</td>
	<td class="er45c10"></td>
    </tr>

    <tr>
	<td class="er5c1"></td>
	<td class="er4c2"></td>
	<td class="er45c3"><input type="radio" neme="5-3">ティルト式手押し型</td>
	<td class="er45c4">個数　1</td>
	<td class="er45c5">128000</td>
	<td class="er45c5">128000</td>
	<td class="er45c7"></td>
	<td class="er45c8">ティルト式手押し型</td>
	<td class="er45c10"></td>
    </tr>

    <tr>
	<td class="er25c1"></td>
	<td class="er3c2"></td>
	<td class="er48c3"><input type="radio" neme="5-3">ﾘｸﾗｲﾆﾝｸﾞ・ﾃｨﾙﾄ式手押し型</td>
	<td class="er48c4">個数　1</td>
	<td class="er48c5">153000</td>
	<td class="er48c5">153000</td>
	<td class="er48c7"></td>
	<td class="er85c8">ﾘｸﾗｲﾆﾝｸﾞ・ﾃｨﾙﾄ式手押し型</td>
	<td class="er48c10"></td>
    </tr>

</table>