
<script src="/js/mitsumori/mitsumori.js" type="text/javascript"></script>
<div class="container">
	<div class="title">見積入力</div>
    <div class="statuslabel"><span>STEP 1</span>使用環境　座位保持装置製作方法の選定</div>
<%= render 'form' %>
<script>
  	//var submitItem = {};
  	var tanka = {};
  	var konyuRirekiId = $("#konyuRirekiId").val();
  	var kokyakuId = $("#kokyakuId").val();
  	var mitsumoriNo = $("#mitsumoriNo").val();
    var mitsumoriId = $("#mitsumoriId").val();
  	var wm = new WizardManager();
    // 次へ
    $.wizard.prototype.loadnext = function () {
      WizardManager.prototype.addEstimate = wm.submitItems[wm.step];
      wm.addEstimate();
      wm.step++;
      $("div.statuslabel").html("<span>STEP " + wm.step + "</span>" + $("div#step" + wm.step + " > div#title").text());
      if(wm.step == wm.lastStep) {
        $("#btnEstimateRegist").show();
        $("button#jqwizard_next").hide();
      } else {
        $("button#jqwizard_next").show();
      }
      if(wm.step > 1) {
        $("button#jqwizard_previous").show();  
      }
      if (this.current_index != this.max_index) {
        this.load(this.current_index + 1);
      }
    };
    // 戻る
    $.wizard.prototype.loadprev = function () {
      wm.step--;
      $("div.statuslabel").html("<span>STEP " + wm.step + "</span>" + $("div#step" + wm.step + " > div#title").text());
      $("button#jqwizard_next").show();
      if(wm.step == 1) {
          $("button#jqwizard_previous").hide();  
      }
      if (this.current_index != 0) {
        this.load(this.current_index - 1);
      }
    };

  	$(document).ready(function(){
    $.ajax({
        scriptCharset:"UTF-8",
        type: "GET",
        url: "/mitsumori_tankas.json",
        root: "mitsumori_tankas",
        dataType: "json",
        success: function(result) {
            if(result != null) {
                tanka = result;
            }
        }
    });
      $.ajax({
        scriptCharset:"UTF-8",
        type: "GET",
        url: "/mitsumoris/" + mitsumoriId + ".json",
        root: "mitsumori",
        dataType: "json",
        success: function(result) {
          if(result != null) {
            wm.mitsumoriData = result;
            $("div#step1").load("/mitsumori/step_01.html", wizard1);
          }
        }
      });
    	$("#estimateForm").wizard();
    	$("#btnEstimateRegist").hide();
    	$("button#jqwizard_previous").hide();
    	// 見積データを用意する
    	wm.mitsumoriData["konyuRirekiId"] = konyuRirekiId;
    	wm.mitsumoriData["kokyakuId"] = kokyakuId;
    	wm.mitsumoriData["mitsumoriNo"] = mitsumoriNo;
    	// 更新
    	$("#btnEstimateRegist").click(function() {
    		WizardManager.prototype.addEstimate = wm.submitItems[wm.step];
    		wm.addEstimate();      
        if (confirm("更新します。よろしいですか？") == false) {
          return false;
        }
    		var postData = {};
    		var url = "/mitsumoris/" + wm.mitsumoriData["id"] + ".json";
    		var type = "POST";
    		wm.mitsumoriData["koshinshaId"] = $("#loginId").val();
     		wm.mitsumoriData["torokushaId"] = $("#torokushaId").val();
     		for(var products in wm.productsData) {
        		wm.productsData[products]["koshinshaId"] = $("#loginId").val();
        		wm.productsData[products]["torokushaId"] = $("#torokushaId").val();        
    		}
    		postData["mitsumoriData"] = wm.mitsumoriData;
    		postData["productsData"] = wm.productsData;
        postData["_method"] = "put";
    		$.ajax({
      		scriptCharset:"UTF-8",
        		type: type,
        		url: url,
        		data: postData,
        		dataType: "json",
        		success: function(result) {
          		location.href = "/mitsumoris/" + result["id"];
        		}
    		});
        $("a#btnEstimateRegist").unbind('click');
    	});
  	});
</script>
<script src="/js/mitsumori/wizard17.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard16.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard15.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard14.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard13.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard12.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard11.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard10.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard09.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard08.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard07.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard06.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard05.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard04.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard03.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard02.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard01.js" type="text/javascript"></script>