
<div class="container">
	<div class="title">見積入力</div>
    <div class="statuslabel"><span>STEP 1</span>使用環境　座位保持装置製作方法の選定</div>
<%= render 'form' %>
<script>
  var step = 1;
  var data = {};

  function step2(){
    $("div#statuslabel span").replaceWith("STEP 2");
    $("#btnEstimateRegist").hide();
    //$("button.jqwizard_next").attr("disabled", true);

    $("input#1-COL2_1").click(function(){
      $("div#step3").load("/mitsumori/step_03.html");
      $("li#step3 a").attr("href", "#step3");
      $("li#step3 span").text("機構");
    //$("button.jqwizard_next").attr("disabled", false);
    });

    $("input#2-COL2_1").click(function(){
      $("div#step3").load("/mitsumori/step_03.html");
      $("li#step3 a").attr("href", "#step3");
      $("li#step3 span").text("機構");
    //$("button.jqwizard_next").attr("disabled", false);
    });

    $("input#3-COL2_1").click(function(){
      $("div#step3").load("/mitsumori/step_2_b.html");
      $("li#step3 a").attr("href", "#step3");
      $("li#step3 span").text("木製");
    //$("button.jqwizard_next").attr("disabled", false);
    });

    $("button.jqwizard_next").click(function() {
      step = 3;
      $("div.statuslabel span").replaceWith("<span>STEP 3</span>");
    });
  }

  function step1(){
    $("li#step10").hide();
    $("li#step11").hide();
    $("li#step12").hide();
    $("li#step13").hide();
    $("li#step14").hide();
    $("li#step15").hide();
    $("li#step16").hide();
    $("li#step17").hide();
    $("#btnEstimateRegist").hide();
    //$("button.jqwizard_next").attr("disabled", true);

    $("input#1-COL1_1").click(function(){
      $("div#step2").load("/mitsumori/step_2_a.html", step2);
      $("li#step2 a").attr("href", "#step2");
      $("li#step2 span").text("構造フレーム");
    //$("button.jqwizard_next").attr("disabled", false);
    });

    $("input#2-COL1_1").click(function(){
      $("div#step2").load("/mitsumori/step_02.html", step2);
      $("li#step2 a").attr("href", "#step2");
      $("li#step2 span").text("フレーム材質");
    //$("button.jqwizard_next").attr("disabled", false);
    });

    $("input#3-COL1_1").click(function(){
      $("div#step2").load("/mitsumori/step_2_b.html", step2);
      $("li#step2 a").attr("href", "#step2");
      $("li#step2 span").text("フレーム材質");
    //$("button.jqwizard_next").attr("disabled", false);
    });

    $("button.jqwizard_next").click(function() {
      step = 2;
      $("div.statuslabel span").replaceWith("<span>STEP 2</span>");
    });

  }

$(document).ready(function(){
  $("#estimateForm").wizard();

  $("div#step1").load("/mitsumori/step_01.html", step1);


});


</script>