
<script src="/js/mitsumori/mitsumori.js" type="text/javascript"></script>
<div class="container">
	<div class="title">見積入力</div>
    <div class="statuslabel"><span>STEP 1</span>使用環境　座位保持装置製作方法の選定</div>
<%= render 'form' %>
<script>
  //var submitItem = {};
  var tanka = {};
  var konyuRirekiId = $("#konyuRirekiId").val();
  var kokyakuId = $("#kokyakuId").val();
  var mitsumoriNo = 0;
  var wm = new WizardManager();

  $.wizard.prototype.loadnext = function () {
    WizardManager.prototype.addEstimate = wm.submitItems[wm.step];
    if(wm.addEstimate() == false) { return false; };
    wm.step++;
    $("div.statuslabel").html("<span>STEP " + wm.step + "</span>" + $("div#step" + wm.step + " > div#title").text());
    if(wm.step == wm.lastStep) {
      $("#btnEstimateRegist").show();
      $("button#jqwizard_next").hide();
    } else {
      $("button#jqwizard_next").show();
    }
    if(wm.step > 1) {
      $("button#jqwizard_previous").show();  
    }
    if (this.current_index != this.max_index) {
      this.load(this.current_index + 1);
    }
  };

  $.wizard.prototype.loadprev = function () {
    wm.step--;
    $("div.statuslabel").html("<span>STEP " + wm.step + "</span>" + $("div#step" + wm.step + " > div#title").text());
    $("button#jqwizard_next").show(); 
    if(wm.step == 1) {
      $("button#jqwizard_previous").hide();  
    }
    if (this.current_index != 0) {
      this.load(this.current_index - 1);
    }
  };

  $(document).ready(function(){
    $.ajax({
        scriptCharset:"UTF-8",
        type: "GET",
        url: "/mitsumori_tankas.json",
        root: "mitsumori_tankas",
        dataType: "json",
        success: function(result) {
            if(result != null) {
                tanka = result;
            }
        }
    });
    $("#estimateForm").wizard();
    $("#btnEstimateRegist").hide();
    $("button#jqwizard_previous").hide();
    $("div#step1").load("/mitsumori/step_01.html", wizard1);
    // 見積データを用意する
    wm.mitsumoriData["konyuRirekiId"] = konyuRirekiId;
    wm.mitsumoriData["kokyakuId"] = kokyakuId;
    wm.mitsumoriData["mitsumoriNo"] = mitsumoriNo;
    //clearNavi("1");
    // 次へ
    // $("button.jqwizard_next").click(function() {
    //   WizardManager.prototype.addEstimate = wm.submitItems[wm.step];
    //   if(wm.addEstimate() == false) { return false; };
    //   //console.dir(wm.productsData);
    //   //console.dir(wm.mitsumoriData);
    //   wm.step++;
    //   loadnext();
    //   $("div.statuslabel").html("<span>STEP " + wm.step + "</span>" + $("div#step" + wm.step + " > div#title").text());
    //   if(wm.step == wm.lastStep) {
    //     $("#btnEstimateRegist").show();
    //     $("button#jqwizard_next").hide();
    //   } else {
    //     $("button#jqwizard_next").show();
    //   }
    //   if(wm.step > 1) {
    //     $("button#jqwizard_previous").show();  
    //   }
    //   //$("button#jqwizard_next").attr("disabled", "disabled");
    // });
    // 戻る
    // $("button.jqwizard_previous").click(function() {
    //   wm.step--;
    //   $("div.statuslabel").html("<span>STEP " + wm.step + "</span>" + $("div#step" + wm.step + " > div#title").text());
    //   $("button#jqwizard_next").show(); 
    //   if(wm.step == 1) {
    //     $("button#jqwizard_previous").hide();  
    //   }
    // });
    // 登録
    $("#btnEstimateRegist").click(function() {
      if (confirm("登録します。よろしいですか？") == false) {
        return false;
      }
      WizardManager.prototype.addEstimate = wm.submitItems[wm.step];
      if(wm.addEstimate() == false) { return false; };
      //console.dir(wm.productsData);
      //console.dir(wm.mitsumoriData);
      var postData = {};
      var url = "/mitsumoris.json";
      var type = "POST";
      wm.mitsumoriData["koshinshaId"] = $("#loginId").val();
      wm.mitsumoriData["torokushaId"] = $("#loginId").val();
      for(var products in wm.productsData) {
        wm.productsData[products]["koshinshaId"] = $("#loginId").val();
        wm.productsData[products]["torokushaId"] = $("#loginId").val();        
      }
      postData["mitsumoriData"] = wm.mitsumoriData;
      postData["productsData"] = wm.productsData;
      $.ajax({
          scriptCharset:"UTF-8",
          type: type,
          url: url,
          data: postData,
          dataType: "json",
          success: function(result) {
            location.href = "/mitsumoris/" + result["id"];
          }
      });
      $("a#btnEstimateRegist").unbind('click');
    });
  });

</script>
<script src="/js/mitsumori/wizard17.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard16.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard15.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard14.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard13.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard12.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard11.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard10.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard09.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard08.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard07.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard06.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard05.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard04.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard03.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard02.js" type="text/javascript"></script>
<script src="/js/mitsumori/wizard01.js" type="text/javascript"></script>