
<div class="container">
	<div class="title">見積入力</div>
    <div class="statuslabel"><span>STEP 1</span>使用環境　座位保持装置製作方法の選定</div>
<%= render 'form' %>
<script>
$(document).ready(function(){
  $("#estimateForm").wizard();

  var step = 1;

  $("div#step1").load("/mitsumori/step_1.html");

  $(":radio").click(function() {
    alert("click");
  });
});
</script>