<% content_for :title do %>
見積登録完了 - Assort 座位保持装置選定支援・補装具管理ソリューション
<% end %>
<div class="container" id="mainmenu_box">
  <div>見積登録が完了いたしました</div>
    <div class="mainmenu_inner cf">
      <ul>
        <a href="/konyu_rirekis">購入履歴管理</a>
        <a href="#" onclick="showReport(<%= @mitsumori.konyuRirekiId %>)">見積書出力</a>
        <a href="#" onclick="showMitsumoriKanseizu(<%= @mitsumori.konyuRirekiId %>)">見積完成図表示</a>
      </ul>
  </div>
</div>
<script type="text/javascript">
	// 見積書PDF出力用メソッド
	function showReport(id) {
	  var url = "/report/report_mitsumori.json";
	  url += "?id=" + id;
	  $.ajax({
	      scriptCharset:"UTF-8",
	      type: "GET",
	      url: url,
	      //data: data,
	      dataType: "json",
	      success: function(result) {
	          if (result != null){
	              window.open(result.fileName, "帳票出力");
	          }
	      }
	  });
	}

	// 見積完成図表示用メソッド
	function showMitsumoriKanseizu(id) {
	    url = "/kanseizu/show_mitsumori?id=" + id;
	    window.open(url,'_blank')
	    return false;
	}
</script>