<div id="kokyakuSearch" style="width:1024px;">
  <form id="kokyakuSearchForm">
  <div>
    <table style="width:100%">
      <tr>
        <th style="width:75px;">顧客コード</th>
        <td style="width:150px;">
          <input style="width:50px;" type="text" id="kokyakuIdFrom" name="kokyakuIdFrom" />&nbsp;〜
          <input style="width:50px;" type="text" id="kokyakuIdTo" name="kokyakuIdTo" />
        </td>
        <th style="width:75px;">郵便番号</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="postNo" name="postNo" />
        </td>
        <th style="width:75px;">携帯番号</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="tel2" name="tel2" />
        </td>
      </tr>
      <tr>
        <th style="width:75px;">顧客名</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="kokyakuNm" name="kokyakuNm" />
        </td>
        <th style="width:75px;">住所１</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="address1" name="address1" />
        </td>
        <th style="width:75px;">FAX番号</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="fax" name="fax" />
        </td>
      </tr>
      <tr>
        <th style="width:75px;">顧客カナ</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="kokyakuNmKana" name="kokyakuNmKana" />
        </td>
        <th style="width:75px;">住所２</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="address2" name="address2" />
        </td>
        <th style="width:75px;">病名・障害名</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="shobyouNm" name="shobyoNm" />
        </td>
      </tr>
      <tr>
        <th style="width:75px;">生年月日</th>
        <td style="width:150px;">
          <input style="width:50px;" type="text" id="tanjoDtFrom" name="tanjoDtFrom" />&nbsp;〜
          <input style="width:50px;" type="text" id="tanjoDtTo" name="tanjoDtTo" />
        </td>
        <th style="width:75px;">電話番号</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="tel1" name="tel1" />
        </td>
        <th style="width:75px;">学校名</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="gakkoNm" name="gakkoNm" />
        </td>
      </tr>
    </table>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnCustomerSearch" href="#" />検索</a></div>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnCustomerClear" href="#" />条件クリア</a></div>
  </div>
  <div>
  </div>
  </form>
</div>
<script>
$(function() {
  $("#tanjoDtFrom").datepicker();
  $("#tanjoDtTo").datepicker();
  // $("#kokyakuSearch").accordion({
  //   header: "h5",
  //   collapsible: true,
  //   animated: "bounceslide",
  //   active: 4
  // });
});

</script>
