  <form id="kokyakuSearchForm">
  <div>
    <table>
      <tr>
        <th style="width:80px;">顧客コード</th>
        <td style="width:175px;">
          <input style="width:50px;" type="text" id="kokyakuIdFrom" name="kokyakuIdFrom" />&nbsp;〜
          <input style="width:50px;" type="text" id="kokyakuIdTo" name="kokyakuIdTo" />
        </td>
        <th style="width:80px;">郵便番号</th>
        <td style="width:175px;">
          <input style="width:130px;" type="text" id="postNo" name="postNo" />
        </td>
        <th style="width:80px;">携帯番号</th>
        <td style="width:175px;">
          <input style="width:130px;" type="text" id="tel2" name="tel2" />
        </td>
      </tr>
      <tr>
        <th>顧客名</th>
        <td>
          <input style="width:130px;" type="text" id="kokyakuNm" name="kokyakuNm" />
        </td>
        <th>住所１</th>
        <td>
          <input style="width:130px;" type="text" id="address1" name="address1" />
        </td>
        <th>FAX番号</th>
        <td>
          <input style="width:130px;" type="text" id="fax" name="fax" />
        </td>
      </tr>
      <tr>
        <th>顧客カナ</th>
        <td>
          <input style="width:130px;" type="text" id="kokyakuNmKana" name="kokyakuNmKana" />
        </td>
        <th>住所２</th>
        <td>
          <input style="width:130px;" type="text" id="address2" name="address2" />
        </td>
        <th>病名・障害名</th>
        <td>
          <input style="width:130px;" type="text" id="shobyouNm" name="shobyoNm" />
        </td>
      </tr>
      <tr>
        <th>生年月日</th>
        <td>
          <input style="width:50px;" type="text" id="tanjoDtFrom" name="tanjoDtFrom" />&nbsp;〜
          <input style="width:50px;" type="text" id="tanjoDtTo" name="tanjoDtTo" />
        </td>
        <th>電話番号</th>
        <td>
          <input style="width:130px;" type="text" id="tel1" name="tel1" />
        </td>
        <th>学校名</th>
        <td>
          <input style="width:130px;" type="text" id="gakkoNm" name="gakkoNm" />
        </td>
      </tr>
    </table>
    <div class="btn_submit">
      <div><a class="btn_search" id="btnCustomerSearch" href="#" />検索</a></div>
      <div><a class="btn_clear" id="btnCustomerClear" href="#" />条件クリア</a></div>
    </div>
  </div>
  <div>
  </div>
  </form>