<% content_for :title do %>
顧客一覧 - Assort 座位保持装置選定支援・補装具管理ソリューション
<% end %>
<div class="title">顧客管理：検索</div>
<div class="statuslabel"><span>条件設定</span>検索条件を指定してください。</div>
<div id="kokyakuSearch" class="Searchform cf">
<%= render 'search' %>
</div>
<div style="clear:both;" id="customer">
    <table id="searchCustomerGrid"></table>
    <div id="searchCustomerPager"></div>
</div>
<div class="btn_new">
    <a class="btn_new_kokyaku" id="btnCustomerNew" href="#">新規追加</a>
</div>
<form id="konyuRirekiSearchForm">
    <input type="hidden" name="konyu_rireki[kokyakuIdFrom]" value="" />
    <input type="hidden" name="konyu_rireki[kokyakuIdTo]" value="" />
</form>
<form id="kokyakuDeleteForm">
    <input type="hidden" id="deleteIdList" name="deleteIdList" value="" />
    <input type="hidden" id="koshinshaId" name="koshinshaId" value="" />
</form>
<script>
$(function() {
    var isLoaded = false;
    var colNames = ["","顧客コード","顧客名","顧客カナ","","性別","生年月日","郵便番号","住所１","住所２","電話番号","携帯番号","FAX番号","傷病名","学校名・施設名","備考","","","","","",""];
    var colModelSettings = [
        {name:'deleteCheck', index:'deleteCheck', align:'center', width:20, formatter: checkboxFormatter},
        {name:"kokyakuId", index:"kokyakuId",width:60},
        {name:"kokyakuNm", index:"kokyakuNm",width:80},
        {name:"kokyakuNmKana", index:"kokyakuNmKana",width:100},
        {name:"seibetsu", index:"seibetsu",hidden:true},
        {name:"seibetsuNm", index:"seibetsuNm",width:35},
        {name:"tanjoDt", index:"tanjoDt",width:120},
        {name:"postNo", index:"postNo",width:80},
        {name:"address1", index:"address1",width:100},
        {name:"address2", index:"address2",width:100},
        {name:"tel1", index:"tel1", width:80},
        {name:"tel2", index:"tel2", width:80},
        {name:"fax", index:"fax", width:80},
        {name:"shobyoNm1", index:"shobyoNm1",width:80},
        {name:"gakkoNm", index:"gakkoNm",width:80},
        {name:"biko", index:"biko", editable:true, hidden:true, edittype:"textarea", editrules:{edithidden:true}},
        {name:"koshinshaId", index:"koshinshaId", hidden:true},
        {name:"torokushaId", index:"torokushaId", hidden:true},
        {name:'updateImg', index:'updateImg', align:'center', width:20, formatter: updateFormatter},
        {name:'deleteImg', index:'deleteImg', align:'center', width:20, formatter: deleteFormatter},
        {name:'listImg', index:'listImg', align:'center', width:20, formatter: showKonyurRirekiFormatter},
        {name:'insertImg', index:'insertImg', align:'center', width:20, formatter: registKonyurRirekiFormatter}
    ];
    $("#searchCustomerGrid").jqGrid({
        datatype: "local",
        //url: "kokyakus.json",
        width: "940",
        height: "250",
        cellEdit: false,
        rowNum: 10,
        //rowList:[10,20,30],
        pager: "searchCustomerPager",
        multiselect: false,
        //viewrecords: true,
        colNames: colNames,
        colModel: colModelSettings,
        ondblClickRow: function(id) {
            rowdata = $('#searchCustomerGrid').getRowData(id);
            modifyKokyaku(rowdata.kokyakuId)
        },
        shrinkToFit:false

    }).navGrid('#searchCustomerPager',{edit:false, add:false, del:false, search:false});

    $("#kokyaku_seibetsu").css("width", "100px");

    var kokyakuItems = ["kokyakuIdFrom","kokyakuIdTo"];
    $.each(kokyakuItems, function(i) {
        var itemId = "#" + this;
        $( itemId ).autocomplete({
        // source: availableTags,
            source: function(request, response) {
              $.ajax({
                url: "/common_data/kokyaku_list.json",
                dataType: "json",
                root: "list",
                data: {'kokyakuId' : $( itemId ).val()},
                success: function(data) {
                  response($.map(data, function(item) {
                    return {
                      label: item.kokyakuNm1+' '+item.kokyakuNm2+' - '+item.kokyakuId,
                      value: item.kokyakuId
                    }
                  }))
                }
              })
            }
        });
    });

    $( "#shobyouNm" ).autocomplete({
        source: function(request, response) {
          $.ajax({
            url: "/common_data/shobyo_list.json",
            dataType: "json",
            root: "list",
            data: {'shobyoCd' : $('#shobyouNm').val()},
            success: function(data) {
              response($.map(data, function(item) {
                return {
                  label: item.shobyoNm+' - '+item.shobyoCd,
                  value: item.shobyoNm
                }
              }))
            }
          })
        }
    });

    // 画面遷移時の再検索
    setConditions();
});

$("a#btnCustomerSearch").click(function() {
    searchKokyaku();
    return false;
});

$("a#btnCustomerNew").click(function() {
    createKokyaku();
    return false;
});

$("a#btnCustomerClear").click(function() {
    $('#kokyakuSearchForm input[type="text"]').val('');
    $('#kokyakuSearchForm select').val('');
    return false;
});

// 一括削除
$("a#btnCustomerDel").click(function() {
    var delArray = new Array;
    $('#searchCustomerGrid input[name="deleteCheck"]:checked').map(function() {
        delArray.push($(this).val());
    });

    if (delArray.length == 0) {
        alert("対象が選択されていません。");
        return false;
    }

    if (confirm("選択されたレコードを一括削除します。よろしいですか？") == false) {
        return false;
    }

    saveConditions();

    $("#deleteIdList").val(delArray.toString());

    $("#koshinshaId").val($("#loginId").val());

    $("#kokyakuDeleteForm").attr("action", "kokyakus/delete_list")
                               .attr("method", "post")
                               .submit();

    return false;
});

// $("a#btnCustomerNew").click(function() {
//     showKokyakuFormDialog();
//     return false;
// });

function checkboxFormatter(cellval, options, rowdata) {
    return "<input type='checkbox' name='deleteCheck' value='" + rowdata['kokyakuId'] + "'>";
}

function updateFormatter(cellval, options, rowdata) {
    return "<img src='/images/database-reload-alt-1.png' onclick='modifyKokyaku(" + rowdata['kokyakuId'] + ")' title='更新' style='width:16px; height:16px'>";
}

function deleteFormatter(cellval, options, rowdata) {
    return "<img src = '/images/database-remove-alt-1.png' onclick='removeKokyaku(" + rowdata['kokyakuId'] + ")' title='削除' style='width:16px; height:16px'>";
}

function showKonyurRirekiFormatter(cellval, options, rowdata) {
    return "<img src='/images/list.png' onclick='showKonyurRireki(" + rowdata['kokyakuId'] + ")' title='購入履歴一覧' style='width:16px; height:16px'>";
}

function registKonyurRirekiFormatter(cellval, options, rowdata) {
    return "<img src='/images/regist.png' onclick='registKonyurRireki(" + rowdata['kokyakuId'] + ")' title='購入履歴入力' style='width:16px; height:16px'>";
}

// 検索用メソッド
function searchKokyaku() {
    var data = {};
    var search = $("#kokyakuSearchForm").serializeArray();
    $.each(search, function() {
        data[this.name] = this.value;
    });
    $("#searchCustomerGrid").clearGridData();
    var param = {
        datatype: "json",
        url: "kokyakus/search.json",
        postData: data,
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false
        }
    };
    $("#searchCustomerGrid").setGridParam(param).trigger("reloadGrid");
}

// 新規登録用メソッド
function createKokyaku() {
    saveConditions();
    location.href = "kokyakus/new";
    return false;
}

// 更新用メソッド
function modifyKokyaku(kokyakuId) {
    saveConditions();
    location.href = "kokyakus/" + kokyakuId + "/edit";
    return false;
}

// 削除用メソッド
function removeKokyaku(kokyakuId) {
    if (confirm("削除します。よろしいですか？") == false) {
        return false;
    }
    saveConditions();
    var url = "kokyakus/" + kokyakuId + ".json";
    var type = "DELETE";
    $.ajax({
        scriptCharset:"UTF-8",
        type: type,
        url: url,
        data: "id=" + kokyakuId,
        dataType: "json",
        success: function(result) {
        }
    });
    searchKokyaku();
    return false;
}

// 購入履歴一覧画面遷移用メソッド
function showKonyurRireki(kokyakuId) {
    // 購入履歴一覧での検索条件にセットするため、Cookieに顧客IDを保持しておく
    saveKonyuRirekiConditions(kokyakuId);
    location.href = "konyu_rirekis?kokyakuId=" + kokyakuId + "&reload=on";
    return false;
}

// 購入履歴登録画面遷移用メソッド
function registKonyurRireki(kokyakuId) {
    location.href = "konyu_rirekis/new?kokyakuId=" + kokyakuId;
    return false;
}

function saveConditions() {
    $.cookie.json = true;
    var data = $("#kokyakuSearchForm").serializeArray();
    $.cookie('kokyaku_conditions', data);
}

function setConditions() {
    if (location.search.match(/reload=on/g)) {
        var conditions = $.cookie('kokyaku_conditions');
        $.removeCookie('kokyaku_conditions');
        if (conditions) {
            $("#kokyakuSearchForm")
                .deserialize($.parseJSON(conditions));
        }
        searchKokyaku();
    }
}

function saveKonyuRirekiConditions(kokyakuId) {
    $('input[name="konyu_rireki[kokyakuIdFrom]"]').val(kokyakuId);
    $('input[name="konyu_rireki[kokyakuIdTo]"]').val(kokyakuId);
    $.cookie.json = true;
    var data = $("#konyuRirekiSearchForm").serializeArray();
    $.cookie('conditions', data);
}
</script>