<div id="kanseiBuhinSearch" style="width:1024px;">
  <form id="kanseiBuhinSearchForm">
  <div>
    <table style="width:100%">
      <tr>
        <th style="width:75px;">完成部品名</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="buhinNm" name="buhinNm" />
        </td>
        <th style="width:75px;">型式コード</th>
        <td style="width:150px;">
          <input style="width:50px;" type="text" id="katashikiCdFrom" name="katashikiCdFrom" />&nbsp;〜
          <input style="width:50px;" type="text" id="katashikiCdTo" name="katashikiCdTo" />
        </td>
      </tr>
      <tr>
        <th style="width:75px;">型式名</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="katashikiNm" name="katashikiNm" />
        </td>
      </tr>
    </table>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnKanseiBuhinSearch" href="#" />検索</a></div>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnKanseiBuhinClear" href="#" />条件クリア</a></div>
  </div>
  <div>
  </div>
  </form>
</div>
<script>
$(function() {

});
</script>
