<form id="seihinSearchForm">
<div>
  <table>
    <tr>
      <th style="width:80px;">分類コード</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="bunruiCd" name="bunruiCd" />
      </td>
      <th style="width:80px;">分類名</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="bunruiNm" name="bunruiNm" />
      </td>
    </tr>
    <tr>
      <th style="width:80px;">品名コード</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="hinmeiCd" name="hinmeiCd" />
      </td>
      <th style="width:80px;">品名</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="hinmeiNm" name="hinmeiNm" />
      </td>
    </tr>
    <tr>
      <th style="width:80px;">型式コード</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="katashikiCd" name="katashikiCd" />
      </td>
      <th style="width:80px;">型式名</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="katashikiNm" name="katashikiNm" />
      </td>
    </tr>
  </table>
  <div class="btn_submit">
    <div><a class="btn_search"  id="btnSeihinSearch" href="#" />検索</a></div>
    <div><a class="btn_clear" id="btnSeihinClear" href="#" />条件クリア</a></div>
  </div>
</div>
</form>
