<form id="shobyoSearchForm">
<div>
  <table>
    <tr>
      <th style="width:80px;">傷病名</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="shobyoNm" name="shobyoNm" />
      </td>
      <th style="width:80px;">傷病名カナ</th>
      <td style="width:175px;">
        <input style="width:130px;" type="text" id="shobyoNmKana" name="shobyoNmKana" />
      </td>
    </tr>
  </table>
  <div class="btn_submit">
    <div><a class="btn_search" id="btnShobyoSearch" href="#" />検索</a></div>
    <div><a class="btn_clear" id="btnShobyoClear" href="#" />条件クリア</a></div>
  </div>
</div>
</form>
