<div id="shobyoSearch" style="width:1024px;">
  <form id="shobyoSearchForm">
  <div>
    <table style="width:100%">
      <tr>
        <th style="width:75px;">傷病名</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="shobyoNm" name="shobyoNm" />
        </td>
        <th style="width:75px;">傷病名カナ</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="shobyoNmKana" name="shobyoNmKana" />
        </td>
      </tr>
    </table>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnShobyoSearch" href="#" />検索</a></div>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnShobyoClear" href="#" />条件クリア</a></div>
  </div>
  <div>
  </div>
  </form>
</div>
<script>
$(function() {

});
</script>
