<div class="title">傷病管理：検索</div>
<div class="statuslabel"><span>条件設定</span>検索条件を指定してください。</div>
<div id="shobyoSearch" class="Searchform cf">
    <%= render 'search' %>
</div>
<div style="clear:both;" id="shobyo">
    <table id="searchShobyoGrid"></table>
    <div id="searchShobyoPager"></div>
</div>
<div class="btn_new">
    <a class="btn_new_mast" id="btnShobyoNew" href="#" />新規追加</a>
</div>
<%= render 'form' %>
<script>
// ##############################
// 
// ##############################
$(function() {
    
    var isLoaded = false;
    var colNames = ["傷病コード","傷病名","傷病名カナ", "ICD10CD" ,"収載日","廃止日", "更新者ID","登録者ID","",""];
    var colModelSettings = [
            {name:"shobyoCd", index:"shobyoCd", hidden:true},
            {name:"shobyoNm", index:"shobyoNm"},
            {name:"shobyoNmKana", index:"shobyoNmKana"},
            {name:"icd10Cd", index:"icd10Cd"},
            {name:"shusaiDt", index:"shusaiDt", hidden:true},
            {name:"haishiDt", index:"haishiDt", hidden:true},
            {name:"koshinshaId", index:"koshinshaId", hidden:true},
            {name:"torokushaId", index:"torokushaId", hidden:true},
            {name:'updateImg', index:'updateImg', align:'center', width:40, formatter: updateFormatter},
            {name:'deleteImg', index:'deleteImg', align:'center', width:40, formatter: deleteFormatter}
    ];
    $("#searchShobyoGrid").jqGrid({
        datatype: "local",
        width: "940",
        height: "240",
        cellEdit: false,
        rowNum: 10,
        pager: "searchShobyoPager",
        multiselect: false,
        colNames: colNames,
        colModel: colModelSettings,
        gridComplete: function(){
            if(!isLoaded == true){
                isLoaded = true;
            }
        },
    }).navGrid('#searchShobyoPager',{edit:false, add:false, del:false, search:false});
});

// ##############################
// 検索ボタンクリック処理
// ##############################
$("a#btnShobyoSearch").click(function() {
    searchShobyo();
    return false;
});

// ##############################
// クリアボタンクリック処理
// ##############################
$("a#btnShobyoClear").click(function() {
    $('#shobyoSearchForm input[type="text"]').val('');
    return false;
});

// ##############################
// 新規登録ボタンクリック処理
// ##############################
$("a#btnShobyoNew").click(function() {
    showShobyoFormDialog();
    return false;
});

// ##############################
// グリッド更新ボタンクリック処理
// ##############################
function updateFormatter(cellval, options, rowdata) {
    return "<img src='/images/database-reload-alt-1.png' onclick='showShobyoFormDialog(" + rowdata['shobyoCd'] + ")' title='更新' style='width:16px; height:16px'>";
}

// ##############################
// グリッド削除ボタンクリック処理
// ##############################
function deleteFormatter(cellval, options, rowdata) {
    return "<img src = '/images/database-remove-alt-1.png' onclick='removeShobyo(" + rowdata['shobyoCd'] + ")' title='削除' style='width:16px; height:16px'>";
}

// ##############################
// 検索用メソッド
// ##############################
function searchShobyo() {
    var data = {};
    var search = $("#shobyoSearchForm").serializeArray();
    $.each(search, function() {
        data[this.name] = this.value;
    });
    $("#searchShobyoGrid").clearGridData();
    var param = {
        datatype: "json",
        url: "shobyos/search.json",
        postData: data,
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false
        }
    };
    $("#searchShobyoGrid").setGridParam(param).trigger("reloadGrid");
}

// ##############################
// 更新用メソッド
// param:
// shobyoCd : 傷病コード
// ##############################
function executeShobyo(shobyoCd) {
    var url;
    var type;
    if(shobyoCd != null) {
        url = "shobyos/" + shobyoCd + ".json";
        type = "PUT";
    } else {
        url = "shobyos.json";
        type = "POST";
    }
    var data = {};
    var postData = {};
    var shobyo = $("#shobyoForm").serializeArray();
    $.each(shobyo, function() {
        data[this.name] = this.value;
    });
    // 更新ユーザー、登録ユーザーを設定する
    data["koshinshaId"] = 1;
    data["torokushaId"] = 1;

    postData["shobyo"] = data;
    postData["id"] = shobyoCd;
    $.ajax({
        scriptCharset:"UTF-8",
        type: type,
        url: url,
        data: postData,
        root: "shobyo",
        dataType: "json",
        success: function(result) {
            searchShobyo();
        }
    });
    $("#shobyoFormDialog").dialog("close");
    return false;
}

// ##############################
// 登録用フォームダイアログオープン
// param:
// shobyoCd : 傷病コード
// ##############################
function showShobyoFormDialog(shobyoCd) {

    if(shobyoCd != null) {
        var url = "shobyos/" + shobyoCd + ".json";
        $.ajax({
            scriptCharset:"UTF-8",
            type: "GET",
            url: url,
            dataType: "json",
            success: function(result) {
                if(result) {
                    $("#shobyoForm #shobyoNm").val(result["shobyoNm"]);
                    $("#shobyoForm #shobyoNmKana").val(result["shobyoNmKana"]);
                    $("#shobyoForm #icd10Cd").val(result["icd10Cd"]);
                    $("#shobyoForm #shusaiDt").val(result["shusaiDt"]);
                    $("#shobyoForm #haishiDt").val(result["haishiDt"]);
                }
                return false;
            }
        });
    }
    // ダイアログ表示
    $("#shobyoFormDialog").dialog({
        show: {effect: "clip"},
        hide: {effect: "clip"},
        width: "auto",
        modal: true,
        buttons: {
            "Close":{
                text: "",
                id: "dialog_close",
                width: "148px",
                height: "37px",
                //image : "/images/btn_add2.png",
                click : function(){
                $('#shobyoForm input[type="text"], select, textarea').val('');
                $("#shobyoForm").validate().resetForm();
                $(this).dialog('close');
                return false;
                }
            },
            '登録' :function() {
                // クライアントバリデーション
                if ($("#shobyoForm").valid() == false) {
                     return false;
                 }
                executeShobyo(shobyoCd);
                $('#shobyoForm input[type="text"], select, textarea').val('');
                $(this).dialog('close');
            }
        },
        open:function(event, ui){
            $(".ui-dialog-titlebar-close").hide();
            $("#dialog_close").css("background-image", "url(/images/btn_add2.png)");
        }
    });
    $(".ui-dialog-buttonset > button").addClass("btn").addClass("btn-primary");
    $("#shobyoFormDialog").focus();
}

// ##############################
// 削除用メソッド
// param:
// shobyoCd : 傷病コード
// ##############################
function removeShobyo(shobyoCd) {
    if (confirm("削除します。よろしいですか？") == false) {
        return false;
    }
    var url = "shobyos/" + shobyoCd + ".json";
    var type = "DELETE";
    $.ajax({
        scriptCharset:"UTF-8",
        type: type,
        url: url,
        data: "id=" + shobyoCd,
        dataType: "json",
        success: function(result) {
            searchShobyo();
        }
    });
    return false;
}

</script>