<div id="shainFormDialog" title="社員登録画面" style="display: none;">
  <form id="shainForm" style="width:600px;height:200px">
  <div>
    <br>
    <br>
    <table>
      <tr>
        <th style="width:100px;">社員コード</th>
        <td style="width:250px;">
          <input style="width:200px;" type="text" id="shainCd" name="shainCd" />
        </td>
        <th style="width:100px;">姓</th>
        <td style="width:250px;">
          <input style="width:200px;" type="text" id="myoji" name="myoji" />
        </td>
      </tr>
      <tr>
        <th style="width:100px;">名</th>
        <td style="width:250px;">
          <input style="width:200px;" type="text" id="name" name="name" />
        </td>
        <th style="width:100px;">姓（フリガナ）</th>
        <td style="width:250px;">
          <input style="width:200px;" type="text" id="myojiFuri" name="myojiFuri" />
        </td>
      </tr>
      <tr>
        <th style="width:100px;">名（フリガナ）</th>
        <td style="width:250px;">
          <input style="width:200px;" type="text" id="nameFuri" name="nameFuri" />
        </td>
        <th style="width:100px;">ログインID</th>
        <td style="width:250px;">
          <input style="width:200px;" type="text" id="loginId" name="loginId" />
        </td>
      </tr>
      <tr>
        <th style="width:100px;">ログインパスワード</th>
        <td style="width:250px;">
          <input style="width:200px;" type="password" id="loginPassword" name="loginPassword" />
        </td>
        <th style="width:100px;">管理フラグ</th>
        <td style="width:250px;">
           <select style="width:200px;" id="manageFlg" name="manageFlg">
              <option value=""></option>
              <option value="0">一般</option>
              <option value="1">管理者</option>
              <option value="9">退職者</option>
            </select>
        </td>
      </tr>
    </table>
  </div>
  </form>
  <br />
<div id="shainSearch" style="width:1024px;">

</div>

<script>
$(function() {

  $("#shainForm").validate({
        errorClass:'error',
        errorElement:'label',
        highlight: function (element, errorClass, validClass) { 
            $(element).addClass(errorClass); 
        }, 
        unhighlight: function (element, errorClass, validClass) { 
            $(element).removeClass(errorClass); 
        },
        rules: {
            shainCd: {required:true},
            myoji: {required:true, maxlength:25},
            name: {required:true, maxlength:25},
            myojiFuri: {required:true, katakana:true, maxlength:25},
            nameFuri: {required:true, katakana:true, maxlength:25},
            loginId: {required:true},
            loginPassword: {required:true},
            manageFlg: {required:true}
        }
    });

});
</script>
