<div id="shainSearch" style="width:1024px;">
  <form id="shainSearchForm">
  <div>
    <table style="width:100%">
      <tr>
        <th style="width:75px;">社員コード</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="shainCd" name="shainCd" />
        </td>
        <th style="width:75px;">姓</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="myoji" name="myoji" />
        </td>
      </tr>
      <tr>
        <th style="width:75px;">名</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="name" name="name" />
        </td>
        <th style="width:75px;">姓（フリガナ）</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="myojiFuri" name="myojiFuri" />
        </td>
      </tr>
      <tr>
        <th style="width:75px;">名（フリガナ）</th>
        <td style="width:150px;">
          <input style="width:130px;" type="text" id="nameFuri" name="nameFuri" />
        </td>
      </tr>
    </table>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnShainSearch" href="#" />検索</a></div>
    <div style="margin:5px; float:right;"><a class="btn btn-primary" id="btnShainClear" href="#" />条件クリア</a></div>
  </div>
  <div>
  </div>
  </form>
</div>
<script>
$(function() {

});
</script>
